[2020-08-17 16:49] saramccombs opened #1 "General Improvements or Questions"
If you're here then you're considering contributing to our community!

If you see something you think could be improved in any area of the site, please let us know. Comment below your ideas for improvements and let's see what we can create together!

[2020-08-19 11:56] saramccombs opened #2 "Update Readme"
1. The README paragraph needs updating with the same, but slightly edited, introduction that is visible on the site itself.
2. Include the url "virtualcoffee.io" within the readme

[2020-08-19 12:02] BryantIT opened #3 "Accessibility issues"
Increase accessibility on site for language support and to allow scalable zooming

![accessibilty-audit-virtual-coffee](https://user-images.githubusercontent.com/53241316/90632252-be9fe180-e1e9-11ea-82e7-be39b5585bf1.png)

[2020-08-19 12:42] tkshill commented on #3
This is a great candidate for a first issue for a beginner, and an important one as well!

[2020-09-18 21:12] BekahHW opened #4 "Create COC Page"
Instead of redirecting to the github page, have the COC on the site.

[2020-09-18 21:17] BekahHW opened #5 "Create an Events Page"
-Using https://meetingplace.io/api, show upcoming events.
-Add a link to sign-up page https://meetingplace.io/virtual-coffee

[2020-09-18 21:19] BekahHW opened #6 "Create a Community Page"
That's it.

[2020-09-28 20:10] danieltott commented on #4
Handled in https://github.com/Virtual-Coffee/virtualcoffee.io/releases/tag/rel-2.0.0

[2020-09-28 20:10] #4 closed

[2020-09-29 00:17] danieltott commented on #3
@BryantIT Thank you for the issue! We've pushed out a new design that took care of these for now 💯

[2020-09-29 00:17] #3 closed

[2020-09-29 21:42] saramccombs commented on #5
Literally just thought about this issue and came here to see if already existed as an issue.. and was reminded that it did. ❤️ Brain no good right now.

[2020-10-01 13:27] danieltott opened #13 "Add your profile to our Members Page!"
## The best part of Virtual Coffee is our members ❤️

In order to showcase our collective awesomeness, let's put together a members page!

Members will individually add their GitHub username. At build time, we'll pull down their GitHub profile and display their info on a page located at /members.

This is the first iteration of this feature, so we'll add features to it as we go.

---

### Note - o

[2020-10-01 14:29] danieltott opened #15 "Use npm instead of yarn"
## Issue Context

Using `yarn` has become a step that seems more and more unnecessary for smaller packages like this. It also adds an extra step and an extra layer of confusion for newer developers, and the yarn 2 update is just a debacle.

We lose nothing by switching.

## Suggested Solution

Toss `yarn` out the window and use `npm` instead.

## Alternatives Considered

Not doing anything and pus

[2020-10-01 14:50] #15 closed

[2020-10-01 17:22] Cerchie commented on #13
Here from VC to start working on this issue!

[2020-10-01 19:28] brandonbrown4792 opened #32 "Member Website Link Invalid URL"
## Describe the bug

On the members page (https://virtualcoffee.io/members/), if the GitHub user does not include http:// or https:// in their GitHub website link, a new tag is opened with the path appended to the virtual coffee URL instead of the GitHub website link.

## To Reproduce

Steps to reproduce the behavior:
1. Go to https://virtualcoffee.io/members/
2. Click on Suraj Panchal's name or w

[2020-10-01 19:34] BekahHW commented on #32
Thanks @brandonbrown4792. Looking at this now.

[2020-10-01 22:57] torianne02 opened #38 "README link broken in Members issue"
## Describe the bug

On issue #13 there is a link to the README with instructions to get the site running locally. This link is broken.
- link is currently: https://github.com/Virtual-Coffee/virtualcoffee.io/issues/README.md#local-development

## To Reproduce

Steps to reproduce the behavior:
1. Go to issue #13
2. Scroll down to `How to add yourself` section
3. Click on `Local Development steps li

[2020-10-01 23:08] danieltott commented on #32
I think we could do at least a rudimentary fix for this where we check if the url starts with http and pre-pend it if not.

I could see this being in either the data js file or the members.njk file

[2020-10-01 23:50] danieltott commented on #38
Really thought you could do relative links in GitHub markdown 😡

[2020-10-01 23:52] danieltott commented on #6
@BekahHW This is different than Members, right? Or is this the same?

[2020-10-02 00:22] BekahHW commented on #6
@danieltott the idea was to have a page to promote what our members are doing. Blogs, YouTube channels, etc. But we can put it on hold if that makes sense.

[2020-10-02 00:29] danieltott commented on #6
No no no! That would be awesome. I just wanted to check.

[2020-10-02 14:53] mrsantons commented on #32
Could I nab this?

[2020-10-02 14:55] danieltott commented on #32
@mrsantons It's all you!

[2020-10-02 19:45] danieltott opened #41 "Layout issue with members with smaller github profile photos"
## Describe the bug

If a user has a smaller profile photo on github (I'm not sure what makes this happen), and that member _also_ doesn't have a bio, the member block ends up not taking up all of the space that it should once we reach the `sm` breakpoint. You can see this currently with Vanessa's photo.

## To Reproduce

If Vanessa updates her github profile in the meantime, you won't be able to

[2020-10-02 21:12] danieltott commented on #41
I'd be happy to pair with anyone who'd like to take a crack at this one!

[2020-10-03 19:46] clandau commented on #5
I'll pick this up. OR if someone newer wants to work on this with my help, even better!

[2020-10-03 20:06] BekahHW commented on #5
@clandau that would be awesome! I'm not positive here, but I think you could start by adding src > events.njk with layout: layouts/home.njk, and then go from there. But also, @danieltott is the wizard here.

[2020-10-03 20:12] clandau opened #42 "Add Virtual Coffee logo as favicon to webpage"
## Issue Context

It would be cute to have the VC image as the favicon image on the website.

## Suggested Solution

Possible steps:
1. Create favicon.ico image file of the VC logo, in `src/assets/images`
2. add to head tag of main `index` file

## Alternatives Considered

## Additional Resources

[MDN - Adding_custom_icons_to_your_site](https://developer.mozilla.org/en-US/docs/Learn/HTML/Introduc

[2020-10-03 20:12] andreamartz commented on #5
Courtney,
I'm happy to work on this with you.

Andrea

On Sat, Oct 3, 2020 at 2:46 PM Courtney Landau <notifications@github.com>
wrote:

[2020-10-03 20:54] clandau commented on #5
yes! you can reassign to @andreamartz ! We'll be meeting to figure this out.

[2020-10-03 22:03] danieltott commented on #5
This is awesome! I'd be happy to do a quick zoom or something but wouldn't be able to until Monday. If you're working in the meantime on this please don't hesitate to ask questions here or in slack

[2020-10-04 23:23] ClJarvis commented on #42
Is this still open? I'd like to do if it's not claimed yet.

[2020-10-04 23:28] danieltott commented on #42
It's all you @ClJarvis ! Thank you!

[2020-10-05 01:55] ClJarvis commented on #42
I'm attempting to push up a change. I have a warning that the index.html is in the gitignore. Do use -f I submit anyway?
 I linked to the favicon in the head of index.html  _site/index.html

[2020-10-05 02:00] danieltott commented on #42
@ClJarvis This site uses eleventy to build the site from templates found in `src` - one effect of this is that all of the files in `_site` will be overwritten every time we build via `start` or `build`.

So! Instead, you'll want to make the change in the layout template, which can be found in `src/_includes/layouts/base.njk`

If you've run `npm run start` to get the site running locally, changes t

[2020-10-05 02:33] ClJarvis commented on #42
@danieltott  Thank you.  I have made corrections and will make a pull request shortly.

[2020-10-05 06:06] danieltott commented on #42
closed via #43 thank you @ClJarvis and @clandau !

[2020-10-05 06:06] #42 closed

[2020-10-05 18:00] danieltott commented on #32
![alright-hey-ya](https://user-images.githubusercontent.com/360261/95115246-27e4a100-0713-11eb-8715-52029456f47e.gif)

[2020-10-05 18:00] #32 closed

[2020-10-05 18:01] danieltott commented on #32
Thanks @brandonbrown4792 and @mrsantons !!!

[2020-10-06 16:36] MikeRogers0 commented on #38
@danieltott I think you can, it just needs to use the full url:

[Local Development steps listed in our README](https://github.com/Virtual-Coffee/virtualcoffee.io/#local-development)

[2020-10-06 17:17] danieltott commented on #38
@MikeRogers0 That definitely works, but only for the README - the thing I was trying to pull off was a link that would link to a markdown file in the repo, and like automatically point to the file in the default branch. We have the same problem with the link to CONTRIBUTING. I think this works _in markdown files in the repo_, but not in issues.

Thanks for the help @MikeRogers0 and @torianne02 !

[2020-10-06 17:17] #38 closed

[2020-10-06 17:41] danieltott opened #45 "Highlight our founders on Members page"
## Issue Context

I love seeing everyone on our [new Members page](https://virtualcoffee.io/members/), but it's bothering me that Virtual Coffee's founders (@BekahHW and @saramccombs) aren't highlighted in any way. Let's fix that.

## Suggested Solution

Layout-wise, I think maybe just add a header like "Our Founders" or "Our Founding Members" or something to that effect, put Bekah and Sara's bloc

[2020-10-06 19:12] ClJarvis commented on #45
Is there anything on their Json that we could use ID them as cofounders? or Would they have to be identified by user name? They only thing I see that says they are cofounders is in their bios that comes from GitHub.

[2020-10-06 20:02] dominicduffin1 commented on #45
I like the option of putting them at the top under the 'Our Founders' heading, then having 'Our Members' underneath.

[2020-10-06 20:03] danieltott commented on #45
@ClJarvis No, we'd definitely have to hard-code their usernames, but that's ok - there's only two of them 😃

[2020-10-06 20:11] danieltott commented on #45
Honestly it may be simpler to just create a separate folder and put them in there - create `src/_data/founders` and move `src/_data/members/BekahHW.json` and `src/_data/members/saramccombs.json` into there. Then duplicate `src/_data/members.js` and call it `founders.js`

This would provide, through the [magic of 11ty javascript data files](https://www.11ty.dev/docs/data-js/), a data object availab

[2020-10-06 20:15] ClJarvis commented on #45
That make sense. That prevents having to check if a member is or isn't  a fonder.

[2020-10-06 20:38] danieltott commented on #45
Ok - I added that approach to the description. Consider this one available!

[2020-10-06 21:15] ClJarvis commented on #45
I would be interested in working on this.

[2020-10-06 22:13] BekahHW commented on #45
@ClJarvis you got it! Let us know if you have any questions.

[2020-10-07 22:43] danieltott opened #48 "Different label for hireable flag on members"
## Describe the bug

On the members page, if the member has a website, the label says “available for work” and if not the label says “hireable”

## To Reproduce

Steps to reproduce the behavior:
1. Go to https://virtualcoffee.io/members/

## Expected behavior

They should say the same thing

[2020-10-08 01:11] danieltott commented on #45
Closed via #47 - Thank you @ClJarvis !

[2020-10-08 01:11] #45 closed

[2020-10-09 14:34] brandonbrown4792 commented on #48
Could I try and tackle this one?

[2020-10-09 14:35] danieltott commented on #48
@brandonbrown4792 It's all you!

[2020-10-12 01:22] danieltott commented on #48
Fixed via #51 - thanks @brandonbrown4792!

[2020-10-12 01:22] #48 closed

[2020-10-13 14:33] danieltott opened #55 "Longer links on members page overflowing container"
## Describe the bug

This is most noticeable in iOS (safari/firefox). When a member's link is too long, it overflows the container and causes horizontal scrolling.

## To Reproduce

In iOS Safari, or Chrome responsive mode with iPhone X selected, go to https://virtualcoffee.io/members/ and scroll down until you see an overflowed link - there are several. I think Aurelie's is the first one currentl

[2020-10-13 15:02] kldickenson commented on #41
I would like to take this one on if it's still available.
-- Karen

[2020-10-13 15:02] kldickenson commented on #41
Sorry, I just say it was closed.

[2020-10-13 15:58] Cerchie commented on #55
I'd love to work on this one! I've been looking to improve my CSS skills, thanks for providing the resource to read.

[2020-10-13 16:05] danieltott commented on #55
@Cerchie It's all you 🙌  Let me know if I can help!

[2020-10-13 17:13] danieltott commented on #41
OK so the issue is still there, but it a little less noticeable now that everyone has filled out their profiles a little more.

To test this out locally - try (temporarily) pasting in this html [at the end of the members list](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/248dff9ca9dfe5c9a7c89921095184cdeb889544/src/members.njk#L108) (after the `{% endfor %}`:

[code]

This will add a te

[2020-10-16 16:57] danieltott commented on #55
Closed via #57 - Thanks @Cerchie!!!!

[2020-10-16 16:57] #55 closed

[2020-10-19 18:44] danieltott commented on #5
Awesome first version of Events is merged and live via #56! Thank you @andreamartz and @clandau!!!

![](https://media1.giphy.com/media/mXnO9IiWWarkI/giphy.gif)

[2020-10-19 18:44] #5 closed

[2020-10-19 19:39] #41 closed

[2020-10-19 19:40] danieltott commented on #41
Thank you @kldickenson!!!

![boom!](https://media3.giphy.com/media/3oz8xsRKgCWlzkqT7y/giphy.gif)

[2020-10-20 14:29] Rafi993 opened #60 "Show the information you submitted in membership-thankyou/ page"
## Issue Context

I just filled out the form to be added as member and after I clicked submit I think I had a doubt if I entered the correct github username and other details and there was no way to for me to verify it

## Suggested Solution

Show the details you submitted in the form in **membership-thankyou/** page

## Alternatives Considered

Mail could also be sent to the user with the details

[2020-10-20 19:05] danieltott opened #61 "Fix time zone for event date output"
## Issue Context

Currently the `dateForDisplay` isn't setting the correct time zone, so it's defaulting to UTC. For now, let's use EST and maybe in the future we can add a dynamic piece that adjusts to the user's local time zone.

![image](https://user-images.githubusercontent.com/360261/96632245-71251b00-12e5-11eb-9014-710369448be1.png)

## Suggested Solution

The `dateForDisplay` filter is a [c

[2020-10-20 19:48] danieltott opened #62 "Adjust layout of event listings"
## Issue Context

In order to improve scan-ability, let's move a couple things around.

## Suggested solution:

- Move date up into a `.card-header` and make it a link
- Make the last link into a `.btn`

The output will end up looking like this:

[code]

I'm pulling these classes from [the bootstrap card docs](https://getbootstrap.com/docs/4.5/components/card/#header-and-footer)

[2020-10-20 19:53] andreamartz commented on #61
Hi Dan.
I'll tackle this one with Courtney.
Andrea

[2020-10-20 19:54] andreamartz commented on #62
Hi Dan.
I'll tackle this one with Courtney.
Andrea

[2020-10-22 16:25] brandonbrown4792 opened #63 "Available for work label on members page links to members page"
## Describe the bug

On the members page, the available for work labels link to the virtual coffee members page. Basically, it looks like the page is reloaded.

## To Reproduce

Steps to reproduce the behavior:
1. Go to the members page
2. Click on any of the Available for Work labels
3. See error

## Expected behavior

Personally, I would make it so the Available for work label did not link anywh

[2020-10-22 16:36] brandonbrown4792 commented on #63
Would you mind if I took a crack at this?

[2020-10-22 16:38] danieltott commented on #63
Yeah I'd either do that or i think the original intention was to link to the website of the user if they had a website. Either way - go for it!

[2020-10-22 16:49] brandonbrown4792 commented on #63
Yeah. That sounds good as well. I was looking at the members page and there were already two links to the person's website (on their name and below their Github summary). So I was thinking of just making the Available for work label static text. Does that make sense? Do you agree?

[2020-10-22 17:11] danieltott commented on #63
@brandonbrown4792 Yeah I think that's probably fine 👍

[2020-10-22 17:12] dominicduffin1 opened #64 "Add Leadership Team Section to Members Page"
## Issue Context

Following the announcement of additions to the leadership team, I was thinking there should be a third section on the Members page headed 'Leadership Team'.

## Suggested Solution

Underneath the 'Our Founders' section, before the 'Our Members' section, I would add a 'Our Leadership Team' section.

## Alternatives Considered

Alternatively, there could be one 'Leadership' section

[2020-10-22 17:33] danieltott commented on #64
@dominicduffin1 Thank you for this suggestion! I think that's a great idea. We talked it over a bit and I think a good approach here would be something like this:

[code]

So there's one Leadership Team section with smaller subheaders for "Founders" and "Community Engagement"

I don't have a specific design in mind, so fair warning: this may take a bit of back and forth to nail down the design, ju

[2020-10-22 17:37] danieltott commented on #63
Fixed via #65
Thank you @brandonbrown4792!!

![fist bump](https://media2.giphy.com/media/RKLaxLVYKF904/giphy.gif)

[2020-10-22 17:37] #63 closed

[2020-10-22 17:59] danieltott commented on #60
@Rafi993 Thank you for the issue!

Currently, there's no easy way to pull this off. This form is submitted via Netlify forms, and the thank you page is a static page that doesn't receive any data from Netlify Forms. So I think in the current setup we'll have to reach for some javascript. I'm certainly open to suggestions!

[2020-10-22 18:16] dominicduffin1 commented on #64
@danieltott Great! I'm fine with some back and forth, will let you know when I have a first go ready to show you, or if I need any help getting there!

[2020-10-22 18:40] danieltott commented on #64
@dominicduffin1 Awesome! Feel free to open a PR when you're ready to go over some stuff - if you just put "Work in progress" or something like that in the title we'll know not to merge it right away. That way we'd have a Deploy Preview to work with and all of that.

[2020-10-22 20:29] danieltott commented on #61
Fixed in #66
Great work and thank you @andreamartz!!

![](https://media3.giphy.com/media/ar4x1w44umngk/giphy.gif)

[2020-10-22 20:29] #61 closed

[2020-10-23 17:44] Rafi993 commented on #60
I think it is possible to send email when user submits the form https://docs.netlify.com/forms/notifications/ but I don't know if the email can contain submitted data.

[2020-10-23 18:01] danieltott commented on #60
Yeah - that feature is nice but is more of a notification for us with a dump of the form data than a nice-looking response to the user.

In the future we definitely have plans to hook up a nice automated thank-you message via webhooks/zapier - still working on that!

[2020-10-23 20:48] danieltott commented on #64
Closed via #68
Thank you @dominicduffin1!!

![mission accomplished](https://media0.giphy.com/media/UTjccaRoigEJx2DKnk/giphy.gif)

[2020-10-23 20:48] #64 closed

[2020-10-23 20:50] danieltott commented on #62
Closed in #67
Thank you @andreamartz - great work on these!!

![](https://media3.giphy.com/media/nj0wszRab0Mxi/giphy.gif)

[2020-10-23 20:51] #62 closed

[2020-10-26 16:13] danieltott opened #69 "Link to member's github profile if they don't have a website"
## Issue Context

Currently on the [members page](https://virtualcoffee.io/members/), if a user doesn't have a website in their github profile, their name doesn't get a link. Let's set this to link to their github profile instead, so all the members' names look the same.

## Suggested Solution

In `src/members.njk`, we display their name like this:

[code]

Let's use a link to their github profile

[2020-10-26 16:50] danieltott opened #70 "Create membercards macro to simplify members template"
## Issue Context

We now have three different loops where we're outputting the same markup for members. Let's abstract that out into a macro that we can call when displaying a member card.

## Suggested Solution

We'll use a [nunjucks `macro`](https://mozilla.github.io/nunjucks/templating.html#macro) for this.

Create a file called `src/_includes/macros/members.njk`, and create a macro called `mem

[2020-10-26 16:53] surajrpanchal commented on #69
I’ll handle this one

[2020-10-26 17:13] danieltott commented on #69
Fixed in #71
Thank you @surajrpanchal!!

![fist bump](https://media3.giphy.com/media/Dnt2VnWFknFNm/giphy.gif)

[2020-10-26 17:13] #69 closed

[2020-10-26 17:39] surajrpanchal commented on #70
I’ll handle this one

[2020-10-26 18:31] danieltott commented on #70
You got it @surajrpanchal! Let me know if you have any questions along the way.

[2020-10-27 04:33] surajrpanchal commented on #70
@danieltott I change html code as mention and observed "Founder" & "Community Engagement" sections image size is different from "our member" section. Should I make only one macro to look all of the member image same or should I make two different macro one for "Founder" & "Community Engagement" & second for "our member" section to look same as current member page

[2020-10-27 12:59] danieltott commented on #70
@surajrpanchal the image size shouldn't be different, so there may be something else weird going on...

The markup may have gotten a little weird after the last few updates. Here's a general outline of how it should look when you're done:

[code]

Feel free to create a draft PR if you'd like me to review anything!

[2020-10-27 13:11] surajrpanchal commented on #70
I have same html code but have one more div tag with Go Team!

[2020-10-27 13:30] surajrpanchal commented on #70
@danieltott I generated PR but it has conflict can you help me to resolve it?

[2020-10-27 14:03] danieltott commented on #70
@surajrpanchal I resolved the merge conflict - so the markup is still a bit mixed up but this isn't your fault - it had gotten mixed up a bit over the last few weeks. So - let's adjust it so it looks like this:

[code]

So - just one `bg-light` and one `container-xl` - I think that should work out ok.

[2020-10-27 14:37] surajrpanchal commented on #70
@danieltott  Fixed html code and committed. please have look the same PR

[2020-10-27 15:58] danieltott commented on #70
Done in #72
Thank you @surajrpanchal!!!

![](https://media2.giphy.com/media/Is1O1TWV0LEJi/giphy.gif)

[2020-10-27 15:58] #70 closed

[2020-10-27 16:11] danieltott opened #73 "Create macro for displaying undraw svgs"
## Issue Context

We're using really nice svgs from https://undraw.co/. Right now we're simply inserting them into templates via `include`:

[code]

The problem is there's no way to edit the `<title>`, and I also have been thinking it'd be nice to have the option edit the primary color. Right now they all have the same primary color (`#d9376e`). There may be some other attributes it'd be nice to h

[2020-10-27 16:24] danieltott opened #74 "Set up a better build system"
## Issue Context

In the interest of getting this out the door as quick as possible, I wired this up using an existing [`GruntJS`](https://gruntjs.com/) setup I had and then bolted 11ty on top of it. Grunt is super out of date and we're not using some of the nicer features that come along with 11ty, but it does work.

I'd like to see a more modern build system going here. Unfortunately 11ty doesn'

[2020-10-27 19:05] anatighe commented on #6
What's the blocking issue? Does it need design?

[2020-10-27 19:08] danieltott commented on #6
@anatighe Yeah we just don't know what's going to go on it yet so I don't want to have anyone really get rolling. Would love to use this issue to collect ideas and brainstorm though - if you have any thoughts we'd love to hear them!

[2020-10-27 19:15] anatighe commented on #6
Cool! I guess my first thoughts are:
Who are the people using it and what's the best way to organize the info for them? Or can we add sorting/filters to meet a few different needs?
Is it mostly for community members who just want to see what other people are up to? Or should there be a way to start discussions there and ask questions?
Is it self-curated: do we need a form to let people submit?

[2020-11-03 17:28] meg-gutshall commented on #74
I'm going to hit you up in Slack re: this issue.

[2020-11-09 16:29] danieltott commented on #74
Here's another path that is looking more and more attractive to me:

Use a combination of node scripts and [11ty Events](https://www.11ty.dev/docs/events/) to build assets within the existing 11ty setup.

I think this could work pretty well. All of the asset stuff we're doing in grunt currently is pretty simple and can be extracted out. Use the 11ty events to run things pre-build/post-build/or dur

[2020-11-12 14:51] danieltott opened #80 "Improve styling for default markdown prose"
## Issue Context

We now have a couple pages that are generated from markdown ([Code of Conduct](https://virtualcoffee.io/code-of-conduct/) and [November Challenge update](https://virtualcoffee.io/monthlychallenges/nov-2020/)) and they could look much nicer. Something's off with the spacing between headers paragraphs, and I feel like maybe we could do something like creating some styles for `hr` t

[2020-11-12 16:51] danieltott opened #81 "Add layout for illustration+title/subtitle pattern"
## Issue Context

We've established a layout pattern that we've used on a lot of pages, where the first block is an illustration + h1 and an optional lead subhead. Some examples:

- https://virtualcoffee.io/members/
- https://virtualcoffee.io/events/
- https://virtualcoffee.io/brownbag-idea/

I think we could create a new layout that uses this, and pass in front matter to set the illustration/h1/s

[2020-11-12 20:13] danieltott opened #84 "Add /uses page"
## Issue Context

https://uses.tech/

It'd be cool to add a `/uses` page to display the tech we use to create the site.

## Suggested Solution

Create a page with the url `/uses`!

I'd be happy to help review/collect/suggest things to add if needed.

## Additional Resources

Some great examples in the wild:

- https://www.iamdeveloper.com/uses/ (@nickytonline ❤️ )
- https://vicvijayakumar.com/uses

[2020-11-12 20:14] danieltott commented on #84
Once it's live, we could submit it to https://github.com/wesbos/awesome-uses

[2020-11-13 00:02] meg-gutshall commented on #80
I was kind of wondering why you generated them with markdown. In my (limited) experience with static sites, it's a lot easier to create partials and call them like in the case of the November Challenge page where we're repeating the same code over and over in that list format. The CoC I think it's simply a matter of messing with the paragraph spacing and padding/margin of headers and list items mo

[2020-11-16 14:58] BekahHW opened #89 "Add podcast page"
## Issue Context

Once the podcast is up and running, it would be nice to have a page that shows the episodes, gives the interviewee's headshot, the episode number, the title of the episode, and links to where people can listen.

## Suggested Solution
I kind of like the idea of having cards with the info. Maybe we have a json file with the info and a template that outputs the cards.

## Alternativ

[2020-11-16 21:01] danieltott opened #91 "Monthly Challenge for November 2020: 50k words!"
_The Virtual Coffee Monthly Challenge for November 2020 -> Blogging! We all work together to hit 50,000 words. Based off the NanWriMo (National Novel Writing Month) Challenge, but working together towards the goal while posting on our own blogs._

## Keep track of our group progress here:

https://virtualcoffee.io/monthlychallenges/nov-2020/

## To add your latest November post:

- Follow [these s

[2020-11-20 18:51] meg-gutshall opened #95 "Build preview throws an error"
## Describe the bug

When I want to preview changes before making a pull request, `npm run build-preview` throws an error.

<img width="1178" alt="Top part of an error message" src="https://user-images.githubusercontent.com/37842352/99837864-39a0cd00-2b36-11eb-9a0a-0990f3ad0d4f.png">
<img width="1174" alt="Bottom part of an error message" src="https://user-images.githubusercontent.com/37842352/998

[2020-11-20 19:27] #95 closed

[2020-11-24 17:16] danieltott opened #104 "Add official prettier settings"
## Issue Context

We have an `.editorconfig` set, but have never set up prettier. Would like to [install prettier](https://prettier.io/docs/en/install.html) and create a `.prettierrc` file with some options set, so that when a user saves a file we can run prettier. We'd also ideally be able to run prettier in a [pre-commit hook](https://prettier.io/docs/en/precommit.html) so that we don't have to

[2020-11-28 14:57] clandau opened #113 "create an API of common developer terms"
## Issue Context

As discussed in Slack, it would be great to create an API of common developer terms, and a browser extension and/or page in virtualcoffee.io. When a learner comes up on a term they don't understand, they can use the resource to easily find the definition and helpful resources/examples.

## Suggested Solution

We would build an API of common developer terms, which would include th

[2020-11-28 15:17] clandau commented on #113
Does anyone have any suggestions on how we compile the terms/definitions?

[2020-11-28 15:28] danieltott commented on #113
One option could be to store them in JSON and have 11ty and/or netlify functions serve them up in various ways.

Maybe a good thing to figure out is how we want the API to behave - what are the requirements for the API? Is the API read-only, and managed somewhere else?

[2020-11-30 21:33] clandau commented on #113
i'm thinking something like give it a term with a GET and get a definition, and supplemental resources/links. It might be good to be able to POST definitions through the API too, but that would need to be protected or verified somehow to avoid inaccurate posts.

[2020-12-01 14:20] danieltott commented on #91
Thank you everyone!

https://virtualcoffee.io/monthlychallenges/nov-2020/

[2020-12-01 14:20] #91 closed

[2020-12-01 16:07] Cerchie commented on #84
Would love to work on this!

[2020-12-01 16:32] danieltott commented on #84
@Cerchie It's all you! Let me know how I can help!

[2020-12-01 18:18] Rahat-ch commented on #113
I think being able to POST would definetely be a good thing to have. I was sort of invisioning something like this:

A form that can be filled out that makes a POST request with the supplied info. We could have an "approved" flag that defaults to false and maybe a seperate UI with a list of unapproved stuff to look through as they come in.

Let me know if this is too out there 😅

[2020-12-01 19:57] danieltott commented on #113
@Rahat-ch Definitely not too far out there!!

You've both hit on my concern for having a POST available for any API - we'd need to add moderation stuff, and we'd most likely want to add some sort of auth in front of it to prevent abuse. Not saying it's not doable obviously - but if it's possible to have the MVP only have read access, and manage the data elsewhere, it could simplify things for the

[2020-12-03 14:06] danieltott opened #127 "Add data to December monthly challenge"
## Issue Context

Our [December challenge](https://virtualcoffee.io/monthlychallenges/dec-2020/) needs some data tracking! Similar to the [November challenge](https://virtualcoffee.io/monthlychallenges/nov-2020/), we need a way for our members to track their stats throughout the month.

## Suggested Solution

- Use a json file to store the data and allow users to edit
- Use 11ty to process the dat

[2020-12-03 14:16] danieltott opened #128 "Update copy on November monthly challenge"
## Issue Context

November has come and gone! We need to update the copy on the [November Monthly Challenge](https://virtualcoffee.io/monthlychallenges/nov-2020/) to signify that the challenge is over. Doesn't have to be a massive rewrite - just changing the tenses and some headlines will probably be enough. Maybe a short summary?

## Alternatives Considered

Another option would be to leave the p

[2020-12-04 18:48] #127 closed

[2020-12-04 18:55] danieltott opened #130 "Monthly Challenge for December, 2020: Pairing!"
_Pairing is more than just coding with someone else. Pairing is about communication, teaching, learning, positive reinforcements, and growing._

_This month, let’s work together to build on these skills. For this challenge, let’s try to hit 5 pairing sessions per person, limiting your pairing sessions to one Pomodoro session--twenty-five minutes--unless you have made arrangements with your partner

[2020-12-04 20:05] dominicduffin1 opened #132 "CONTRIBUTING.md table of contents contains two missing sections"
## Context for documentation change

Noticed that the table of contents in `CONTRIBUTING.md` contains the sections _Preferred code style_ and _Commit message conventions_ which don't exist in the document. This is potentially offputting for contributors who may think there is information they need to know but that they can't find.

## Proposed solution

If the team are planning to publish guidelin

[2020-12-04 21:12] danieltott commented on #132
@dominicduffin1 good call! Interested in doing a PR?

[2020-12-04 22:15] dominicduffin1 commented on #132
@danieltott Yeah can do! Are we removing the two sections?

[2020-12-04 22:24] danieltott commented on #132
Yeah I think that's the right call for right now. Thank you!!

[2020-12-05 07:47] sumitkharche opened #134 "Add PWA (Progressive Web App) support"
## Issue Context

The lighthouse score for virtualcoffee.io is looking good and site is also mobile friendly. So it would be great if we could add PWA into site which gives users a native applications feel and works offline, works well in low networks and an icon on the phone‘s home screen.

## Suggested Solution
While looking at quick way to make our site as PWA, I found Google workbox would be g

[2020-12-07 05:10] sumitkharche commented on #134
Created above draft PR to verify the PWA integration.

[2020-12-07 15:05] danieltott commented on #132
Fixed in #133

Thanks again @dominicduffin1 !!

[2020-12-07 15:05] #132 closed

[2020-12-11 17:58] malsf21 opened #140 ""VC GitHub" link on homepage is broken"
## Describe the bug

The "VC GitHub" link on the homepage (under "Get Involved") is broken - it leads to a content not found page.

## To Reproduce

1. Go to the [homepage](https://virtualcoffee.io/)
2. Scroll down to "Get Involved"
3. Click "VC GitHub"
4. See: "Content not found"

## Expected behavior

It should take me to the Virtual-Coffee GitHub link!

## Desktop (please complete the following

[2020-12-11 19:13] danieltott commented on #140
@malsf21 thank you! I literally just noticed this this morning!

For some context, the site is using [11ty](https://11ty.dev). The top nav (which is working) is built using their [navigation plugin](https://www.11ty.dev/docs/plugins/navigation/) but the bottom section is being built using a collection and just outputting some data on the home page template:

[code]

So the nav plugin knows about `

[2020-12-16 16:42] #140 closed

[2020-12-16 17:00] danieltott commented on #134
Closed via #135

[2020-12-16 17:00] #134 closed

[2020-12-18 18:59] danieltott opened #151 "PWA plugin is caching form submission urls, stopping them from submitting"
## Describe the bug

eleventy-plugin-pwa goes through and adds all routes it finds to the `precacheManifest`, which is normally what we want. The problem is, our form thank-you pages are being caught in there, which is _not_ what we want, since Netlify uses those to actually receive the POST submissions.

I have removed PWA support from the site for now (#150) - let's find a way to add it back in.

[2021-01-11 21:24] #89 closed

[2021-01-11 21:24] danieltott commented on #81
This can now be done via the `simple` layout!

[2021-01-11 21:24] #81 closed

[2021-01-11 21:31] danieltott commented on #130
Thanks everyone!

[2021-01-11 21:31] #130 closed

[2021-01-14 20:18] clandau commented on #151
I was looking into this a bit...do you think this is doable using that plugin? There's not much documentation there, but the PWA thing is new to me. I may need to book time with you to discuss.

[2021-01-14 21:06] danieltott commented on #151
I _think_ we just need to make sure the form thank you pages are getting excluded from being cached. I'm not sure the exact approach, but it seems possible. I'm pretty sure if we just don't ever cache those pages, then things will work the way we expect. I guess maybe I'd want to look into if there are any other gotchas re: this plugin and netlify/11ty pages. For instance, do netlify analytics sti

[2021-01-20 20:18] sethburtonhall commented on #128
Hey @danieltott I just signed up for tomorrow Virtual Coffee and I am looking forward to this. I am also interested in contributing and this could be a good issue for me to get the repo running locally. Are there any mocks or could I just fork and provide a few examples? Thanks!!

[2021-01-20 20:25] danieltott commented on #128
Hey @sethburtonhall - it'll be great to have you there!

Go ahead if you'd like - there aren't any mocks or anything, this is mostly just copy changes. I'm open to ideas for sure - but definitely don't expect any large design changes here. Definitely a good one to get started on!

Let me know if you have any questions or run into any issues - our [README](https://github.com/Virtual-Coffee/virtualc

[2021-01-21 14:19] danieltott commented on #128
Closed via #169 - thanks again @sethburtonhall !

[2021-01-21 14:19] #128 closed

[2021-01-22 01:29] joshuatz opened #174 "Members Section Failing to Build Completely"
## Describe the bug

As [described in the slack today](https://virtual-coffee-group.slack.com/archives/C017GPJQTLP/p1611274454025400), there seems to be an issue with the members page ([virtualcoffee.io/members/](https://virtualcoffee.io/members/)) - only one member is showing up under the "Our Members" header, despite there being 20+, which normally show up without issue.

## To Reproduce
Head to

[2021-01-22 01:34] joshuatz commented on #174
I'm going to do a little more digging to see if I spot anything, but this is literally my first time touching Eleventy 😅

In the meantime, since this could just have been a glitch, someone that has access to the Netlify Admin dashboard could go in and force a new production deploy (despite no new commits), by using `Deploys -> Trigger Deploy -> Deploy Site` (or `Clear Cache and Deploy Site`). Or,

[2021-01-22 02:42] danieltott commented on #174
Kicking off a "clear cache and deploy" - we'll see if that clears it up

[2021-01-22 17:27] jonoyeong commented on #174
@danieltott I'm seeing the members now (28 of them)! Seems like the clear cache and deploy worked.

[2021-01-22 17:28] joshuatz commented on #174
^ Yep - That looks like it did the trick! And the subsequent *github-secret-build-hook* run looks fine too, in logs and on the site.

Just to be safe, I double checked the counts:

Website:
[code]

Repo:
[code]

[2021-01-22 17:29] jonathanyeong commented on #174
Can confirm as well!

What are your thoughts on adding a better display for the error [here](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/fe51c61047d1504b908af1ce57670d4b5468b2b3/src/_data/founders.js#L30).

[code]

[2021-01-22 18:35] sethburtonhall commented on #2
Is this still needed? The README copy looks good and the image link goes to the .io site.

[2021-01-23 00:43] danieltott commented on #2
@sethburtonhall good call - gonna close this one

[2021-01-23 00:43] #2 closed

[2021-01-23 12:55] sethburtonhall commented on #80
I'll take this one.

[2021-01-23 12:57] sethburtonhall commented on #73
🖐🏻 I'll take this one

[2021-01-23 13:03] sethburtonhall commented on #104
I'd like to work on this one.

[2021-01-23 15:06] sethburtonhall commented on #104
@calendee I just saw your Slack message. Want to set up a pair for this one?

[2021-01-23 16:47] danieltott commented on #104
One thing to look in to here is that 11ty sites like ours involve some extra file types that aren't always around with React sites for example - nunjucks ('.njk') and markdown ('.md') for example - would be great to have those in this flow!

[2021-01-24 08:42] calendee commented on #104
Sadly, there doesn't seem to be any decent nunjucks prettier plugins/support.

[2021-01-28 18:16] Cerchie opened #176 "[What to do if your VSCode editor gets stuck in nunjucks after contributing to VC]"
## What to do if your VSCode editor gets stuck in nunjucks after contributing to VC

First of all, you're not alone. This has happened to a lot of us, including myself (@Cerchie ).
Second, you can fix this! Read on.

## Steps to fix the problem

Open up your VSCode editor. Click on 'Nunjucks' on the bottom right.
<img width="600" alt="Screen Shot 2021-01-28 at 8 20 30 AM" src="https://user-images.

[2021-01-28 18:17] Cerchie commented on #176
Issue closed to create link for docs.

[2021-01-28 18:17] #176 closed

[2021-01-28 20:56] #84 closed

[2021-01-28 20:58] danieltott commented on #174
@jonathanyeong that may not be a bad idea - maybe at least on production builds?

[2021-01-29 02:15] BekahHW opened #179 "Monthly Challenge for January, 2021: Month of Learning!"
_We spent our first month of the new year learning! This month, we did a choose your own adventure challenge. You might've learned something for work, explored a new topic, or took a deep dive into one you wanted to learn more about. And now we want to hear all about what resources worked for you! Below you'll find steps to add your favorite learning resources for the month._

## To add the resour

[2021-02-08 17:02] danieltott commented on #104
@sethburtonhall @calendee Just catching up - even if we can't get `njk` support working, prettier will still be worth it. Are either/both of you still interested? Would be happy to assign it and/or hang out on zoom!

[2021-02-10 07:09] calendee commented on #104
Sorry about this @danieltott ! We discussed getting together to pair program on it. Then, I dropped the ball.I'll follow up in that Slack thread.

[2021-02-10 07:12] calendee commented on #104
We also need to hash out what are the preferences for prettier. What are your preferences for these:

[code]

[2021-02-10 15:10] sethburtonhall commented on #104
@danieltott why don't we set up a zoom call and continue our conversation to apply to VC code base.

[2021-02-13 14:08] #179 closed

[2021-03-04 00:35] danieltott commented on #174
This should be all taken care of now. Thanks @joshuatz !

[2021-03-04 00:35] #174 closed

[2021-03-22 19:04] danieltott opened #208 "Automate updating member data"
## Issue Context

Currently, when we add a new member to the `members.json` file, we then have to run a command to get updated member data from github. The problem is, the user needs to be authenticated with github on the command line to run this command.

This limitation prevents us from simply running the fetch on every build and excluding the `membersData.json` file from version control.

Is th

[2021-03-22 19:58] BogDAAAMN commented on #208
I would love to work on it tomorrow morning if possible <3

[2021-03-22 20:11] danieltott commented on #208
@BogDAAAMN for sure! First step will be outlining your approach here - what will happen when, relationship to pull requests, all that kind of stuff. Very excited to see what you're thinking!

[2021-03-22 21:45] rhdeck commented on #208
This could use a push-triggered workflow using the paths filter described here: https://docs.github.com/en/actions/reference/workflow-syntax-for-github-actions#onpushpull_requestpaths. The paths will likely be `src/_data/members/members.json`

And then you would probably perform 4 steps:
1. a quick `yarn` to marshal the dependencies
2. execute the script `virtualcoffee.io/scripts/update-member-dat

[2021-03-24 21:02] BogDAAAMN commented on #208
Yesss @rhdeck, followed your suggested steps and wrote them down in PR #211. Struggling to `git push` back to the right refs that are pointing to the PR. But I would love to pair with @rhdeck and @danieltott to see how usually checking out and pushing back to a PR works.

[2021-03-29 22:42] meg-gutshall opened #214 "Update Brownbag Idea Form"
Ref: Discussions with AV Team

## Proposed solution

Add more questions to the form to collect necessary data at time of talk proposal

## Collaborators

@danieltott
@BekahHW

[2021-03-29 22:49] BekahHW commented on #214
Yes! I need to make a PR with my changes.

There's two parts here that have to happen and we're looking at a multi-part flow.

- Some of it will be updating the form.
- Some will be automating things
- Some of it will be first updating docs and then creating a team.

I can probably get the form updates in a PR this week.

[2021-03-30 15:27] #6 closed

[2021-04-01 17:34] shiftyp commented on #13
Just some additional info on the github token if you're regenerating the member data: the token only needs permission for the user => read:user scope to function for this task 👇🏻
<img width="528" alt="Screen shot of scopes form" src="https://user-images.githubusercontent.com/131928/113331986-9c795080-92ee-11eb-9e31-67d99eed5ded.png">

[2021-04-01 19:56] danieltott commented on #13
Thanks @shiftyp! - I updated the issue description with that ❤️

[2021-04-03 18:34] shiftyp commented on #74
☝🏻 Bringing the above PR's to your attention as well @meg-gutshall. Would love your feedback!

[2021-04-05 14:44] BekahHW opened #223 "Add April Newsletter to the site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs updated, and sometimes that changes the way things look, for example, your list may have fewer items.

#

[2021-04-05 15:59] crisbnp commented on #223
I'd like to work on this please. When do you need this by?

[2021-04-05 16:54] BekahHW commented on #223
@crisbnp Awesome! I was hoping to get it up by the end of the week, but if that's an issue, let me know.

[2021-04-05 23:22] crisbnp commented on #223
@BekahHW Found some time to do this this evening. Let me know what you think.

[2021-04-06 19:26] danieltott commented on #223
@crisbnp This is awesome! Great work 💪

[2021-04-06 19:26] #223 closed

[2021-04-06 19:50] crisbnp commented on #223
Yay 🎉 thank you! I want to use a gif to reply to this but I don't know how 😂

[2021-05-03 14:49] BekahHW opened #237 "Add May Newsletter to site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs updated, and sometimes that changes the way things look, for example, your list may have fewer items.

#

[2021-05-03 15:35] tkshill commented on #237
On it and acknowledged!

[2021-05-31 19:59] Cerchie opened #252 "Aria-hidden attributes lacking values"
## Describe the bug

Aria labels on social media icons on home page are `aria-hidden=""`. I imagine what we want is `aria-hidden="true"`. Feel free to assign to me or to someone who'd like to get started in on OS contributions. 💟

## To Reproduce

Steps to reproduce the behavior:
1. Install lighthouse https://developers.google.com/web/tools/lighthouse
2. Click on lighthouse to run report

## Expec

[2021-06-01 14:18] #237 closed

[2021-06-01 14:20] tkshill opened #253 "Add June Newsletter to site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs updated, and sometimes that changes the way things look, for example, your list may have fewer items.
St

[2021-06-01 17:22] danieltott commented on #252
Thanks @Cerchie it's all you!

[2021-06-07 15:39] #253 closed

[2021-06-07 20:48] danieltott commented on #252
Closed via #257 - thank you @Cerchie!!

![](https://media4.giphy.com/media/3oEdvb8F5b16u0okpy/giphy.gif)

[2021-06-07 20:48] #252 closed

[2021-06-11 14:07] BekahHW opened #260 "Add July Challenge/Theme page"
## Issue Context

Add July Challenge to the site

## Steps

- [ ] Add folder src > monthlychallenges > july-2021
- [ ] Add index.njk to the file
- [ ] Using [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/monthlychallenges/june-2021/index.njk) as kind of a template, create July 2021 from docs in contributors
- [ ] Assign me to review PR once ready.

[2021-06-23 12:26] danieltott opened #265 "Upgrade to bootstrap 5"
## Issue Context

Currently we're using Bootstrap 4 - it would be great to upgrade to Bootstrap v5

## Suggested Solution

Upgrade to the latest version of bootstrap, and go through their [migration guide](https://getbootstrap.com/docs/5.0/migration/) to address any breaking changes.

[2021-06-28 19:06] BekahHW opened #266 "Add message to June Monthly Challenge page that the challenge has ended"
## Issue Context

Add a message saying the June challenge has ended, and link to the new challenge:

![image](https://user-images.githubusercontent.com/34313413/123690294-35eacc80-d822-11eb-9bba-70015603f1bf.png)

## Suggested Solution

See [December Challenge page](https://virtualcoffee.io/monthlychallenges/dec-2020/)/repo file for style and message.

[2021-06-28 19:08] BekahHW opened #267 "Add July Newsletter to site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs updated, and sometimes that changes the way things look, for example, your list may have fewer items.
St

[2021-06-29 01:53] Andrew-Bush commented on #266
I'll take this one!

[2021-06-29 05:58] vanessacor commented on #260
If it's still up for grabs I can take this one

[2021-06-29 14:01] danieltott commented on #208
Hey @BogDAAAMN I ended up fixing this when I had to fix an issue with the sponsors posting. Member data is updating on builds now!

[2021-06-29 14:01] #208 closed

[2021-06-30 11:01] adiati98 commented on #267
I'll take this one please

[2021-07-01 11:41] BogDAAAMN commented on #208
Nice @danieltott!! I am trying to take a look at it, but I don't seem to find it 😢  Is it an eleventy or netlify functions thing?

[2021-07-01 13:19] danieltott commented on #208
@BogDAAAMN so now it's pulling the data down in the 11ty build instead of trying to store a json file: https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/_data/members/memberData.js

[2021-07-01 13:22] BogDAAAMN commented on #208
Got it! Thank you @danieltott

[2021-07-02 20:45] BekahHW opened #270 "Add Demoing loom to monthly-challenge docs and tips for demoing"
- Add Dominic's latest demo
- Add a new section with tips for demoing
    - this should probably be an h3, I think, followed by a bulleted list of tips.

[2021-07-02 21:00] dominicduffin1 commented on #270
I can take this!

[2021-07-25 22:51] BekahHW opened #281 "Add August Challenge to the Site"
## Issue Context

Add August Challenge to the Site

## Steps

- [x] Add folder src > monthlychallenges > aug-2021
- [x] Add index.njk to the file
- [x] Using [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/monthlychallenges/june-2021/index.njk) as kind of a template, create August 2021 from docs in contributors
- [ ] Request me to review PR once ready.

[2021-07-25 22:53] BekahHW opened #282 "Put August Newsletter on the site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs updated, and sometimes that changes the way things look, for example, your list may have fewer items.
St

[2021-07-25 22:54] BekahHW opened #283 "Add Message to the July Monthly Challenge page that the challenge has ended"
## Issue Context

Add a message saying the July challenge has ended, and link to the new challenge:

![image](https://user-images.githubusercontent.com/34313413/123690294-35eacc80-d822-11eb-9bba-70015603f1bf.png)

## Suggested Solution

See [December Challenge page](https://virtualcoffee.io/monthlychallenges/dec-2020/)/repo file for style and message.

[2021-08-07 20:01] #281 closed

[2021-08-07 20:01] #270 closed

[2021-08-07 20:02] #267 closed

[2021-08-07 20:03] BekahHW commented on #266
@Andrew-Bush do you need any help on this?

[2021-08-08 18:30] secondl1ght opened #288 "Should we upgrade to latest yarn and node version?"
# Should we upgrade to latest yarn and node version?
I would like to start a discussion on if we would like to upgrade the repo to the latest node.js version and yarn version. When setting up my local environment to start contributing to the project I (with the help of others) noticed that the current node version is 12 and the latest version is 16.5.0. Also the current yarn version seems to be us

[2021-08-12 20:40] #260 closed

[2021-08-12 20:52] adiati98 commented on #282
I would take this issue, please ☺

[2021-08-12 23:45] #282 closed

[2021-08-13 07:47] teezzan commented on #283
Hello @BekahHW,
Kindly assign this to me. I would love to work on it.
Also, I noticed that all the challenges from Jan, 2020 don't have the alert. Should I add it to all of them? Or is there a reason why it is like that?

Thank you.

[2021-08-13 07:57] BekahHW commented on #283
@teezzan awesome! We just never got around to adding it to the other challenges. If you're up for it, you can!

[2021-08-13 12:54] danieltott commented on #288
@secondl1ght Thank you for this issue!

Package managers continue to be a huge pain in the behind.

My understanding previously was that using the v1 syntax would allow users using v1 _or_ v2 to run the build without any problems - but that doesn't seem to be the case.

What I _don't_ want to happen is users that have the classic version of yarn to be unable to run this.

In fact - I am pretty sur

[2021-08-13 14:00] nickytonline commented on #288
It's fine to update the node version, but upgrading to yarn 3 will force anyone that works on the project to use yarn 3 as the lock file format is different, so I would caution on upgrading to yarn 3 as yarn 3 will not work on a lot of other projects. For example, it currently doesn't play nice with webpack which is a lot of projects.

You can manage multiple versions of yarn, but this would poten

[2021-08-13 14:11] danieltott commented on #288
The hardest thing about this is that all of the docs talk about upgrading your project to `yarn 3` or `berry` or whatever - but if you just have `yarn` installed on your machine and run `yarn` inside this project, won't it use the version specified in the lockfile? I have yet to be able to replicated @secondl1ght 's issue with extra files being generated etc.

In fact, I just created a new directo

[2021-08-13 14:22] abbeyperini commented on #288
Cloned the repo and went through the README instructions. Build ran fine and I don't see a ./yarn directory. Looks like it used yarn v1

[2021-08-13 16:34] secondl1ght commented on #288
I just tried again, cloned a new repo and ran yarn. I get the same result, it doesn't use the version of yarn in the repo for me, it upgrades yarn to the latest version which creates all the files I talked about. Not sure if this is because I have the latest yarn installed globally, I still don't fully understand how global yarn vs project level yarn differs... it sounds like we don't want to upgr

[2021-08-13 16:44] abbeyperini commented on #288
I ran npm install -g yarn and the version I get from running yarn -v in my project repo is 1.22.11

[2021-08-13 16:45] secondl1ght commented on #288
What if you run ```yarn set version latest``` globally and then run yarn -v in your project repo?

[2021-08-13 16:49] secondl1ght commented on #288
Maybe the old version of yarn respects the version in repos but when you install the latest version of yarn globally it tries to upgrade all repos to the latest version which causes issues?

[2021-08-13 17:07] danieltott commented on #288
@secondl1ght did you run `yarn set version latest` inside the virtualcoffee.io repo directory? That command isn't a global command, it's a local command for the current directory...

[2021-08-13 17:12] #283 closed

[2021-08-13 17:15] secondl1ght commented on #288
I have a fork of the vc repo, I made sure it was current with the main one. After that I cloned it into a new project directory, at that point I run yarn -v and get 3.0.0, so this version is set without me running the yarn set version latest command on a fresh project directory somehow.

[2021-08-13 17:20] danieltott commented on #288
Did you install `yarn` via `npm`? if you run `npm install -g yarn` then `yarn -v` is it still 3? the [installation guide](https://yarnpkg.com/getting-started/install) states that the version should be `1.22.0` or something to start...

[2021-08-13 17:57] secondl1ght commented on #288
Yes I installed yarn with this npm command, I just ran it again and I still get v3 after. Maybe if I removed yarn entirely then tried it would start with v1, but it seems like we need to have have yarn v1 installed globally in order to work in this repo right? Or has somebody been able to have v3 yarn installed and still use v1 yarn on the project repo?

Like @nickytonline suggested we could ask p

[2021-08-13 18:03] danieltott commented on #288
Yarn, according to their docs, does this automatically. There's just something breaking down in this situation and I still don't know exactly what it is.

I've updated this repo to the latest version of node - can you run `nvm use` inside the repo, then run `yarn` and see what happens? I'd also be curious about the output of `npm list -g yarn`

[2021-08-13 18:10] secondl1ght commented on #288
Ok so I did ```nvm use``` and then ```yarn``` and it still upgraded me to the latest version of yarn. The output of ```npm list -g yarn``` is
[code]
...so now I am even more confused.. lol XD.

[2021-08-13 18:13] danieltott commented on #288
And `nvm use` and `yarn` were in a fresh copy of the repo, right? This is indeed confusing.........

[2021-08-13 18:33] secondl1ght commented on #288
Yes that's right, if you want to do a screen share and work through it live I could do that in the co-working room. Then I can at least show you exactly what I am seeing.

[2021-08-13 18:58] teezzan commented on #266
I think it is safe to close this. It has been fixed in #292.

[2021-08-13 18:59] #266 closed

[2021-08-13 19:13] ClJarvis opened #293 "Create Documentation for "A Guide to Getting the Most out of VC""
## A Guide to Getting the Most out of VC

Virtual Coffee is more than our Zoom meetings. Much of the community occurs on slack and our monthly challenges.

We should create a central guide to store information on how to get the most of the Virtual Coffee (VC) community. This would help onboard new members and alert them to the benefits of joining VC. It could also inform current members of things

[2021-08-20 13:32] ClJarvis commented on #293
Should also add to slack section
- Book club
- Code Challenges * not real active at the moment and may not have time to run it during sept/Oct due to Hacktober but still worth mentioning.
- Help and Pairing

[2021-08-26 12:14] BekahHW opened #301 "September Monthly Challenge"
## Issue Context

Add September Challenge to the Site

## Steps

- [x] Add folder src > monthlychallenges > sept-2021
- [x] Add index.njk to the file
- [x] Using [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/monthlychallenges/june-2021/index.njk) as kind of a template, create September 2021 from docs in contributors
- [ ] Create a PR that uses `closes #{number of thi

[2021-08-31 13:38] danieltott commented on #214
closed via https://github.com/Virtual-Coffee/virtualcoffee.io/pull/215#issuecomment-909246497

[2021-08-31 13:38] #214 closed

[2021-08-31 13:43] #113 closed

[2021-08-31 13:46] danieltott commented on #104
@sethburtonhall checking in on this - are you still interested in getting this up? I'd like to get this in here pretty soon.

[2021-08-31 13:47] danieltott commented on #104
@sethburtonhall here are my preferences:

[code]

[2021-08-31 18:13] danieltott opened #306 "Convert issue templates to issue forms"
## Issue Context

We've been added to the [GitHub Issues Beta](https://github.com/features/issues)! I think all of our issue templates are good candidates for issue forms, with the exception of the Question template, which we can remove in favor of [the discussion board](https://github.com/Virtual-Coffee/virtualcoffee.io/discussions).

## Suggested Solution

- [x] Convert Bug Report to issue form

[2021-09-01 13:17] #306 closed

[2021-09-01 18:56] ClJarvis opened #308 "Should the tense be changed in Newsletter copy"
## Issue Context

In the newsletter section the text on index.njx reads  src>newsletter>index.njx

The copy was written before the newsletter was a regular feature of VC. Should the text be changed to signify that the newsletter is now active?  suggest Since January 2021 our monthly newsletter includes ...

[2021-09-01 20:11] calendee commented on #104
💯 💥

[2021-09-01 20:59] BekahHW commented on #308
@ClJarvis Absolutely, and great catch! Do you want to take this issue?

[2021-09-01 21:14] ClJarvis commented on #308
We can leave it for someone else like a newer member that wants an good first issue.

[2021-09-03 13:41] #293 closed

[2021-09-03 14:03] danieltott opened #310 "Add Slack channel guide to member resources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

We now have a [Member Resources section](https://virtualcoffee.io/member-resources/) on the site. The [Slack section](https://virtualcoffee.io/member-resources/guide-to-vc/#vc-slack) has a few interesting channels which is great, but we've always wanted a Slack channel guide.

### Proposed solut

[2021-09-03 14:08] danieltott opened #311 "Add New/Prospective Member resource page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

For people looking to join Virtual Coffee - let's have a specific page just for that, and add it to the [Member Resources](https://virtualcoffee.io/member-resources/) section.

### Proposed solution

This should have at least the following, but I'd love to hear any thoughts/additions:

- [ ] A "

[2021-09-03 14:08] danieltott commented on #311
@adiati98 You had a good start on this - would you like to take this one?

[2021-09-03 14:15] adiati98 commented on #311
@danieltott Sure! I'll take it 😊
Need some guidance though! 😄

[2021-09-03 14:19] danieltott commented on #311
I think the best way to start would be to start with a fresh copy of the repo, then duplicate [the member guide page](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/bc1d99e472266181abbab222116d69f389eb1780/src/member-resources/guide-to-vc.njk) and start replacing the content.

If it's easier for you to write in the first stage in a google doc (or even as a comment here!), that's perfectly

[2021-09-03 14:23] adiati98 commented on #311
Thanks, @danieltott !
I think I'll review & fix the Google Docs as first stage since I already have the draft there 😊

[2021-09-03 16:08] ABeck617 commented on #308
Hey @ClJarvis  and @BekahHW I'm a newer member and would like to take a shot at fixing this issue. I'm not sure how to assign myself this issue

[2021-09-03 16:46] DanUsesGitHub opened #313 "Test Issue"
# this is a big heading

- thing onne
- thing two
- three
  - sub three one
  - sub three two

references Virtual-Coffee/Testing-Things#3

https://github.com/Virtual-Coffee/virtualcoffee.io/blob/bc1d99e472266181abbab222116d69f389eb1780/package.json#L5-L11

[2021-09-03 16:46] DanUsesGitHub commented on #313
[code]

[2021-09-03 16:47] DanUsesGitHub commented on #313
- [ ] thing one
- [x] checked

[2021-09-03 17:26] ClJarvis commented on #308
One of the maintainers will have to assign the issue.

[2021-09-03 17:41] BekahHW commented on #308
@ABeck617 it's yours! Reach out if you have any questions or need support!

[2021-09-04 14:01] adiati98 opened #317 "Install and Run link in CONTRIBUTING.md goes nowhere"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

In the [Table of Contents section in CONTRIBUTING.md](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/CONTRIBUTING.md#table-of-contents), the link to "Install and Run" (see attached screenshot) goes nowhere.
It's because that link changed to "[Local development](https://github.com/

[2021-09-04 15:55] himanshu007-creator commented on #317
Hi, i would like to work on this issue.!

[2021-09-04 17:18] danieltott commented on #317
Hey @himanshu007-creator - thanks for the message! We're trying to reserve the `good first issue` issues for contributors who don't have very much open source experience as a way to help them get started. I appreciate your enthusiasm though - we'll probably have a decent number of issues that fit the bill over the next month or two 🙌

[2021-09-04 17:20] danieltott commented on #80
@sethburtonhall I don't know how I missed your message. Are you still interested in this issue?

[2021-09-04 17:21] danieltott commented on #80
@meg-gutshall this is exactly what I was thinking!

[2021-09-04 17:21] #1 closed

[2021-09-04 17:21] himanshu007-creator commented on #317
Got it🙌🏽

[2021-09-04 17:39] demonicirfan commented on #317
Hi, I have never done an open-source contribution, I would like to start with this one, can I 😊

[2021-09-05 10:54] ABeck617 commented on #308
Hey @BekahHW Thanks a lot! I do have a question. So I have forked and clone the repo. After that I have made the changes on VSCode. Do I need to make a pull request to update the changes to the original repo?

[2021-09-05 16:25] ClJarvis commented on #308
Correct, push the changes and open a pull request.  Then someone will review it.
I don't know how familar you are with the process but checkout our [contributor guide](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/CONTRIBUTING.md#creating-a-pull-request) if you have questions.

[2021-09-06 00:44] BekahHW opened #322 "Add more thorough description to monthly challenge page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

It would be nice to have a clearer description on the [Monthly Challenges](https://virtualcoffee.io/monthlychallenges/) page.

### Proposed solution

If we're thinking about it in terms of non-members, let's give them a glimpse into what monthly challenges are, how folks can participate, and inc

[2021-09-06 16:53] BekahHW opened #323 "Add Sept. newsletter to site"
## Issue Context
Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs updated, and sometimes that changes the way things look, for example, your list may have fewer items.
Ste

[2021-09-06 16:53] BekahHW commented on #323
@adiati98, here's the issue!

[2021-09-06 17:13] #301 closed

[2021-09-06 23:46] #308 closed

[2021-09-06 23:47] BekahHW commented on #308
Thanks, @ClJarvis for your help on this one!

[2021-09-07 00:33] adiati98 commented on #311
@danieltott Here's the Google Docs version of [Guide For Prospective VC Members](https://docs.google.com/document/d/17kYKUa-ziWEvfANZXzXRtE3259SofaAS1-DyREjDbFU/edit).
I open it for editing, so feel free to edit or add anything.

I will start to draft it in .njk tomorrow while waiting for any changes.

Thanks! 😄

[2021-09-07 00:35] ABeck617 commented on #308
Thanks alot @ClJarvis and @BekahHW

[2021-09-07 15:07] pedaars commented on #311
Hi, I added a few words hopefully it is helpful.

[2021-09-07 17:32] danieltott opened #327 "Add ability to make nice-looking markdown pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

We can add full pages using markdown, but we were missing some features. They were a little too simple. So, let's power up our 11ty setup a bit:

- [x] Sections
- [x] `.lead`
- [x] Ability to add attributes
- [x] Automatic header id generation
- [x] Automatic table of contents if desired

### Co

[2021-09-07 17:47] #327 closed

[2021-09-07 17:49] danieltott commented on #311
@adiati98 let me know when/if you start working on this. I just pushed up some changes to the site that should make it much easier to make these additions. I haven't had time to update any documentation yet - but I converted the [guide page to markdown](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/member-resources/guide-to-vc.md)

This should make it a lot easier to make these

[2021-09-07 18:01] danieltott commented on #323
closed via #325

[2021-09-07 18:01] #323 closed

[2021-09-07 18:03] danieltott commented on #317
Hey @demonicirfan - thanks for the message! We're trying to reserve the good first issue issues for contributors who don't have very much open source experience as a way to help them get started. I appreciate your enthusiasm though - we'll probably have a decent number of issues that fit the bill over the next month or two 🙌

[2021-09-07 19:12] adiati98 commented on #310
@danieltott If this issue is still up, feel free to use the channels' list that's pinned in the #add-new-channel on Slack!
I could help out too once I finished with the prospective members' guide if needed!

[2021-09-07 19:13] adiati98 commented on #311
@danieltott I can pair today in 1 or 2 hours from now if you're up to it!

[2021-09-07 19:18] danieltott commented on #311
@adiati98 reach out when you're available - I may be around or if not we can try tomorrow!

[2021-09-07 20:56] adiati98 commented on #311
@danieltott I'm ready if you are! 😉

[2021-09-07 21:00] adiati98 commented on #311
Thanks, @pedaars!

[2021-09-08 22:56] YolandaHaynes opened #331 "Add 'How to write a Good Issue' guide to Member Resources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Context for documentation change

There is no guide/documentation in the repo.

### Proposed solution

Providing a guide/documentation on writing a good issue. This helps contributors on how to write a good issue, and it can benefit the maintainers by keeping track of all the tasks that need to be done in a Gi

[2021-09-08 23:21] BekahHW commented on #331
@YolandaHaynes this is great! This lets us know that we definitely don't have a resource for it. And I appreciate that you have a good reason for it.

Do you think the site would be a good place for it? I might call it a feature if that's what you're thinking.

Can you add just a couple of things:

1.  Link to the pinned issue guide in slack monthly challenge channel
2. Suggest where to put it in

[2021-09-09 21:27] YolandaHaynes commented on #331
Hi @BekahHW , I have made the changes by adding the pinned guide and my suggestions where I think the guide can live in.

The site can be a good place for it! So my thought process was that "the writing a good issue guide" can be inserted inside the CONTRIBUTING.md, so a member can access it in one [area](https://virtualcoffee.io/member-resources/guide-to-vc/#contributing-to-virtual-coffee) on the

[2021-09-09 21:38] danieltott commented on #331
Hey @YolandaHaynes !

I am not 100% sure where you left this with @BekahHW but I think it would be great to add this as a page to the Member Resources section. You can copy the existing guide to member center markdown file as a start!

I love the idea of adding a link to this new page on contributing though 💯

[2021-09-09 22:49] adiati98 commented on #310
@danieltott Hey Dan,
A thought. I think it would be great if we take off the Zoom link to **co-working** and **game-night** channels from this issue to avoid them being exposed publicly?

[2021-09-09 23:05] danieltott commented on #310
@adiati98 🤦 yes

[2021-09-10 12:31] danieltott commented on #331
@YolandaHaynes thanks again for getting this started! Would you like to do this one? I'd be happy to pair up if so - let me know!

[2021-09-10 17:27] aurelieverrot commented on #331
Can we add the Maintainer Guide, and Maintainer Checklist as well in the same section?

[2021-09-10 18:17] adiati98 commented on #331
@danieltott @BekahHW would it be more organized if we create like a main `<li>` in the Maintainer Guide to compile and keep "How To Write Good Issues", "Maintainer Checklist", and any other open source guides, in one place?

Something like:

- Guide To Open Source Contributions
  - How To Write Good Issue
  - Maintainer Guide
  - Maintenance Checklist
  - ...
- Guide To Virtual Coffee
- ...

[2021-09-10 18:40] danieltott commented on #331
@aurelieverrot @adiati98 absolutely we want all of these resources here! Ayu that's a great idea for the future - to keep it simple right now let's go ahead with individual separate pages inside the resources section. We'll figure out a good solution for subsections once we have all of these in here!

[2021-09-10 19:13] adiati98 commented on #331
Sounds great, @danieltott 😊

[2021-09-10 19:38] danieltott opened #334 "Add a "Content" issue form template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

We have Feature Request, Bug, and Documentation issue types, but none of those are a perfect fit for things like #331 or #310 where we are either adding new content pages or requesting edits on them.

### Proposed solution

Add a new Issue Form for Content Change - I think we can just have one t

[2021-09-10 19:59] #310 closed

[2021-09-10 20:04] danieltott opened #335 "Improve our Pull Request template"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Context for documentation change

It's a good start, but not quite doing what it needs.

### Proposed solution

One thing we can do is wrap the help text in `` so that a user doesn't have to delete it, but it also doesn't show up in the final PR if they don't.

We should also add something about the `closes` k

[2021-09-11 15:52] YolandaHaynes commented on #331
@danieltott I would love to pair up and tackle this!

[2021-09-24 16:27] danieltott opened #343 "Typo in CONTRIBUTING"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

There's a typo in contributors -
![image](https://user-images.githubusercontent.com/360261/134709186-47f60176-1eaa-44ea-8b9f-23ab12cf274e.png)

### Steps To Reproduce

Go to https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/CONTRIBUTING.md

### What browsers are you seeing the proble

[2021-09-24 16:45] #343 closed

[2021-09-26 03:41] BekahHW commented on #331
@YolandaHaynes how's this going? Let me know if you want to pair up this week!

[2021-09-26 18:10] BekahHW opened #345 "Add Oct. Monthly Challenge Page"
## Issue Context

Add October Challenge to the Site

## Steps

- [ ] Add folder src > monthlychallenges > Oct-2021
- [ ] Add index.njk to the file
- [ ] Using [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/monthlychallenges/june-2021/index.njk) as kind of a template, create October 2021
     - [ ] Give description for the challenge and steps to participate
     - [ ]

[2021-09-26 18:35] BekahHW opened #346 "Add end of challenge message to Sept Challenge"
## Issue Context

Add a message saying the Sept challenge has ended, and link to the new challenge:

![image](https://user-images.githubusercontent.com/34313413/123690294-35eacc80-d822-11eb-9bba-70015603f1bf.png)

## Suggested Solution

See [December Challenge page](https://virtualcoffee.io/monthlychallenges/dec-2020/)/repo file for style and message.

[2021-09-27 20:04] adiati98 opened #347 "Typo of markdown in Guide To VC"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

There is a typo in the markdown to the link to YouTube.

![typo-markdown](https://user-images.githubusercontent.com/45172775/134976865-5300c63e-5bcf-4d5a-8f78-9280e301c626.jpg)
.

### Steps To Reproduce

Go to [Virtual Coffee Events](https://virtualcoffee.io/member-resources/guide-to-vc/#virtua

[2021-09-27 22:03] BekahHW commented on #347
@adiati98 do you want this one? It's all yours if you do.

[2021-09-28 17:28] YolandaHaynes commented on #331
@BekahHW Thanks for the offer! So far I'm good. I was able to meet up and pair with @danieltott late last week! Sorry for the delay. I thought I had time over the weekend, but it didn't pan out as I hoped. I'm hoping to finish this ASAP!

[2021-09-30 12:50] danieltott commented on #104
@calendee Are you interested in taking a shot at this?

[2021-10-01 00:12] aurelieverrot commented on #345
I take it :)

[2021-10-01 13:16] #345 closed

[2021-10-01 13:19] danieltott commented on #334
closed via #352

[2021-10-01 13:19] #334 closed

[2021-10-01 13:20] danieltott commented on #331
closed in #349 !!

[2021-10-01 13:20] #331 closed

[2021-10-01 13:27] danieltott commented on #311
closed in #336

[2021-10-01 13:27] #311 closed

[2021-10-01 13:28] danieltott commented on #288
@secondl1ght I'm sorry I haven't had time to pair up, but nobody else is running in to this issue, so I'm going to close this for now. Maybe next week some time we can get together and see what's up!

If anyone else runs into similar issues, please feel free to drop a comment here and we can investigate more.

[2021-10-01 13:28] #288 closed

[2021-10-01 14:12] danieltott opened #356 "Create auto-generated Social Cards"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

A great feature to have on the site is automatically-generated social image cards. Social image cards are what you see when you share a site in slack/twitter/facebook etc. Our current card is the same for every page:

![default social card](https://github.com/Virtual-Coffee/virtualcoffee.io/raw/

[2021-10-01 23:39] jenkens-dev commented on #356
Hey Dan, I'd love to work on this issue if it's available. I just recently did something similar for my digital garden with Gatsby and Cloudinary but I'm sure after reading the resources I could figure it out with Eleventy.

[2021-10-01 23:51] danieltott commented on #356
@jenkens-dev That'd be great!

[2021-10-02 04:04] jdwilkin4 commented on #346
Hi there! I would like to work on this issue if it is still available.
Thanks!

[2021-10-02 10:37] danieltott commented on #346
@jdwilkin4 you got it!

[2021-10-02 13:53] ClJarvis commented on #335
Where does a user access the template to update them?

Is this something that only the repo maintainers have access to edit?

[2021-10-02 14:19] danieltott commented on #335
@ClJarvis its located right here: https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/.github/PULL_REQUEST_TEMPLATE.md

Here's a GitHub doc on it: https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/creating-a-pull-request-template-for-your-repository

[2021-10-02 15:30] ClJarvis commented on #335
I see. does it need to be expanded more like our Issue Request templates?

[2021-10-02 17:39] EbonyLouis commented on #317
Hi, I've never worked on open source and I would love to start... could I work on this issue?

[2021-10-02 19:47] danieltott commented on #317
@EbonyLouis its all you!

[2021-10-02 20:52] EbonyLouis commented on #317
@danieltott Thank you!

[2021-10-03 03:03] #346 closed

[2021-10-03 03:07] BekahHW opened #387 "Add end of challenge message to August challenge"
## Issue Context

We missed adding this one in early September, but let's update that now.

Add a message saying the August challenge has ended, and link to the new challenge:

![image](https://user-images.githubusercontent.com/34313413/123690294-35eacc80-d822-11eb-9bba-70015603f1bf.png)

## Suggested Solution

See [December Challenge page](https://virtualcoffee.io/monthlychallenges/dec-2020/)/rep

[2021-10-03 07:46] jdwilkin4 commented on #322
Hi there! I am interested in working on this issue.

[2021-10-03 12:24] adiati98 commented on #387
Hey @BekahHW,
Can I grab this one?

[2021-10-03 13:02] redapy commented on #387
can I take this ?

[2021-10-03 15:00] danieltott commented on #387
@redapy you got it!

[2021-10-04 02:41] Lor1138 commented on #265
I'll take this one if it is still available!

[2021-10-04 06:24] vickywane commented on #335
Hi @danieltott ,

I will like to work on this and improve the PR template.

[2021-10-04 13:33] danieltott commented on #265
@Lor1138 you got it! Let me know if you have any questions!

[2021-10-04 15:48] MattyMc commented on #104
@danieltott I'd like to take this one on for HacktoberFest.

[2021-10-04 16:02] MattyMc opened #396 "Member bio taking up too much space"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Members can write their biographies (e.x. in `mattymc.js`), but since there's no character limit on the bio it can result in one member have a huge vertical height.

The bio added in #383 is a good example. Let's remove this one for the time being.

### Desired fix:

- [x] Immediately comment o

[2021-10-04 16:06] MattyMc commented on #396
I'll take this on:

1. Immediately comment out the long bio.
2. Add a note in the example bio to limit length.
3. Figure out a longer term solution to prevent problem automatically in future.

[2021-10-04 16:10] danieltott commented on #396
@MattyMc I updated this issue to be more specifically about the short-term fix, and we can open a new issue addressing the general improvements to the system 👍

[2021-10-04 17:11] abbeyperini commented on #80
I would like to work on this issue!

[2021-10-04 17:29] MattyMc commented on #104
@danieltott wanted to get your quick input before I push forward.

- [ ] Confirming we'll use tabs (i.e. `"useTabs": true`). First run shows nearly all files being transformed (see example screenshot below[1]).
- [ ] Confirming it's okay if I modify our HTML files. Received a bunch of failures [2]. Thought I'd confirm now since prettier's reformatting may make it challenging to see these differenc

[2021-10-04 17:47] danieltott commented on #396
closed via #397

[2021-10-04 17:47] #396 closed

[2021-10-04 17:48] danieltott commented on #335
Hey @vickywane - thanks for your interest, but @ClJarvis is going to take care of this one! 🙌

[2021-10-04 17:53] #387 closed

[2021-10-04 17:55] #317 closed

[2021-10-04 18:04] danieltott commented on #322
@jdwilkin4 it's all you!

[2021-10-04 18:08] danieltott commented on #104
@MattyMc I would expect almost every file to be effected by this change so no worries there.

The important thing is to make sure that changes to the configuration (adding prettier, updating settings, etc) are in separate commits as the ones where we've automatically applied changes to source files. This way we can easily see when there are changes made to the settings etc.

If you see failures, l

[2021-10-04 18:15] MattyMc commented on #104
Thanks @danieltott. I have this PR good to go, I believe.

| The important thing is to make sure that changes to the configuration (adding prettier, updating settings, etc) are in separate commits as the ones where we've automatically applied changes to source files.

I did commit these things separately and in stages. However, I'm not sure how to capture that properly in a PR (newbie in open sour

[2021-10-04 18:17] danieltott opened #399 "Add "edit on github" link to footer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

Since this site is open-source, we can add a nice "edit on github" link to the footer of every page and allow people to more easily contribute to the site!

### Proposed solution

This approach is laid out pretty clearly on the 11ty docs (don't tell anyone but this is where I got the idea...)

-

[2021-10-04 18:32] danieltott commented on #104
@MattyMc if everything was committed separately that's all I'm looking for! Go ahead and create a PR - if you're worried about anything you can mark it as a draft to start, either way I'll take a look.

I don't have any extra time today unfortunately, but will definitely be able to take a look at the code at some point!

Thanks again 🙌

[2021-10-04 18:34] MattyMc commented on #104
@danieltott sounds good–I'll do that now!

Would love to see how you review these if you might have some time later this week!

[2021-10-04 21:03] adiati98 opened #403 "Add Oct. newsletter to site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs updated, and sometimes that changes the way things look, for example, your list may have fewer items.
St

[2021-10-04 21:04] adiati98 commented on #403
@BekahHW @danieltott I would like to work on this issue please :)

[2021-10-04 21:10] MattyMc opened #404 "Fix invalid HTML generated by various `.njk` files"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The `.njk` files used to generate the HTML pages contain errors, such as improper nesting and unclosed tags. These may cause unexpected behaviour and rendering in the browser.

### Example of a nesting error
![image](https://user-images.githubusercontent.com/1302166/135924829-065b41a9-b6a9-4d2c

[2021-10-04 21:11] MattyMc commented on #404
I'd like to take this one on. I have my code linting all setup from the other PR I was working on. Should be fast.

[2021-10-05 00:37] #403 closed

[2021-10-05 01:22] danieltott commented on #404
![its all you](https://media.tenor.co/images/8494fc2ade3d9464add6d9458631a740/tenor.gif)

[2021-10-05 01:51] jdwilkin4 commented on #322
I tried to incorporate all of @BekahHW 's suggestions into the updated monthly challenge page with my PR.

[2021-10-05 07:45] adiati98 commented on #399
Hey, @danieltott.
I want to grab this if it's okay.
To be clear, is it about pasting the above code on every page of the website? Would ask you more about it though 🙂

[2021-10-05 14:12] MattyMc commented on #399
@adiati98 the VC site uses a layout. I was able to find the footer by noticing there's a 'Contact Us' link at the bottom of the site, and then I searched the site for the email address:
![image](https://user-images.githubusercontent.com/1302166/136040301-b70dae32-d2f2-43a1-9169-a2fa30b75fa9.png)

The footer seems to be located in a `base.njk` file. That's where you'll want to make the addition.

[2021-10-05 17:52] MattyMc opened #411 "Add workspace `vscode` configuration to enable consistent `formatOnSave` and linting."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

PR #401 adds official prettier settings into the VC repo. Prettier, along with the js libraries `lint-staged` and `husky` have  surfaced a number of benefits to code quality and consistency. The three primary interfaces to these new capabilities are:

1. Manually running prettier from the CLI to

[2021-10-05 17:53] MattyMc commented on #411
@danieltott and @nickytonline would love if you'd weigh in on this. I'd love to take this one on, too. I recently went through this process with my team and would like to contribute this work to open source (potentially write a little blog post, too).

[2021-10-05 18:00] ClJarvis commented on #335
@danieltott I have commented out the test under the section headers. It appears on my local version but will not appear if a user is working on github itself. Is that what we want?

[2021-10-05 18:03] danieltott commented on #335
@ClJarvis I'm not sure exactly what you mean - can you paste in some code and/or push up a Draft Pull Request?

[2021-10-05 18:05] danieltott commented on #399
@adiati98 it's all you

What @MattyMc said is right on - the code I linked to is the base.njk file, that's where you'll make the changes outlined in the linked article 👍

I don't have much time this week to pair up unfortunately, but I'm sure there will be people around, or we can meet up next week if you want!

Also feel free to drop any questions here at any time - that's always welcome ❤️

[2021-10-05 18:07] jenkens-dev opened #413 "Link to Voyagger on October Monthly Challenge page is broken"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Under the Virtual Coffee approved repositories, the Voyagger link is broken. Looks like there's an extra ```a``` and ```li``` tag

<img width="1425" alt="Screen Shot 2021-10-05 at 10 54 55 AM" src="https://user-images.githubusercontent.com/25398021/136077822-86180c81-5cc5-4b97-beeb-4e57626a40d4

[2021-10-05 18:12] ClJarvis commented on #335
@danieltott I'll do a draft PR. But I may have found a work around. If a user id viewing a MD file they can click the <> to reveal comments.

[2021-10-05 18:18] #413 closed

[2021-10-05 18:28] adiati98 commented on #399
Thanks, @danieltott! 😄

[2021-10-06 13:11] #322 closed

[2021-10-06 16:07] BekahHW opened #417 "How to ask for help with code Member Resource"
### Issue Context

We now have a [Member Resources section](https://virtualcoffee.io/resources/) on the site. This would be a great place to add two things: a developer Resources page that links to a section on how to ask for help with your code.

### Proposed solution
- [ ] Add a new folder in resources called `dev`
- [ ] In that folder add an index.md file for `Developer Resources`. (You can che

[2021-10-06 17:06] YolandaHaynes commented on #417
Hi! I would like to contribute to this one.

[2021-10-06 19:16] danieltott commented on #417
@YolandaHaynes it's all you!

[2021-10-06 19:49] #404 closed

[2021-10-06 19:51] danieltott commented on #399
@adiati98 just a heads up - we just merged in a big change that touched a lot of files. Make sure you start from a fresh fork, or update your branches from main 🙌

[2021-10-06 20:10] adiati98 commented on #399
@danieltott fresh fork means un-fork and forks it again (like delete and fork also clone everything from start)? Or update my local from main and push them to the forked repo? (Sorry for such a newbie's question! 😁)

[2021-10-08 15:29] sadiejay opened #425 "Wording on podcast page typo/unclear"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Type of Change

Typo

### URL of existing page

https://virtualcoffee.io/podcast/0401-jessi-shakarian/

### Context for content change

Hi this is my first issue and I hope I'm clear!

In the introduction of podcast episode 1 season 4 and the last episode of season 3 there's this phrase:

### Proposed solution

[2021-10-13 01:32] mtfoley commented on #151
Totally new here but I was looking at this issue and I may take a shot at contributing. Meanwhile looking over the source in eleventy-plugin-pwa it appears to pass its config options into the workbox generateSW function https://developers.google.com/web/tools/workbox/reference-docs/latest/module-workbox-build#.generateSW

my thought would be to look at the ignoreGlobs config option since it doesn’

[2021-10-13 17:44] danieltott commented on #151
@mtfoley if you want to give it a shot, let me know!

[2021-10-13 18:02] MattyMc commented on #411
Hey @danieltott: The [VSCode repo](https://github.com/microsoft/vscode/tree/main/.vscode) is something we used for inspiration. I don't think there are a ton of code repos using this right now, so it may make sense not to prioritize this work until it's more common. It is something I'd expect to increase. With more repos adding standardized code formatting as a pre-commit step, it only makes sense

[2021-10-13 18:42] danieltott opened #432 "Improve accessibility of large images in Supporters section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The logo sponsors section on the home page has some accessibility issues:

![Image 2021-10-13 at 2 28 27 PM](https://user-images.githubusercontent.com/360261/137191853-e14fb96e-9c8c-48d1-af68-ea39b0f685dc.jpg)

- Adjacent links to the same location
- Out of order headings (the title is an `h4`

[2021-10-13 18:48] danieltott opened #433 "Improve accessibility of the smaller Supporters avatars"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

The Supporters list on our home page needs some accessibility improvements:

![image](https://user-images.githubusercontent.com/360261/137194178-52a683ec-0a5b-498d-aa81-ad5fcbc9d412.png)

These consist of a link containing an `img` of their github profile, and an `svg` with a `text` element. We

[2021-10-13 18:54] danieltott opened #434 "Add a Skip Link to the site"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

The site is missing a skip link. Why this matters:

### Proposed solution

Follow this approach for a Temporarily hidden skip link: https://webaim.org/techniques/skipnav/#hidden

To see an example of this in the wild, check out https://forem.com (hit `tab` when you land on the site) ([here's the

[2021-10-13 19:13] danieltott opened #435 "Improve focus styles"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

We're using some default bootstrap focus styles and they're pretty minimal. It would be great to have much more obvious focus styles.

![image](https://user-images.githubusercontent.com/360261/137198080-33cb3fbf-6e09-4a18-bfd5-ce385a412776.png)

### Proposed solution

Maybe a nice 2px outline in

[2021-10-13 19:25] danieltott opened #436 "Improve accessibility of Member blocks"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

The member profiles on https://virtualcoffee.io/members could use some a11y TLC:

- `alt` for the profile images isn't great. We probably can simply set this to `alt=""`
- Names are `h5` - out of heading order
- Redundant links - we're linking the member name as well as dropping a text link unde

[2021-10-13 20:04] MattyMc commented on #411
@danieltott let me mock something up. We've done a ton of work on this already, and at the very least we can try to add some stuff in and see if it helps folks.

[2021-10-13 20:31] nickytonline commented on #411
We use recommended extensions, and debug configurations at Forem, but we don't enforce stuff like formatOnSave because that is a user preference. What we do though for lining and formatting is use husky/lint-staged as a precommit hook.

- https://github.com/forem/forem/blob/main/.vscode/extensions.json
- https://github.com/forem/forem/blob/main/.vscode/launch.json

[2021-10-13 20:36] colabottles commented on #435
I'll take this one.

[2021-10-13 20:37] colabottles commented on #436
I'll take this one.

[2021-10-13 20:37] colabottles commented on #434
I'll take this one.

[2021-10-14 00:18] adiati98 commented on #432
Hey @danieltott,
I probably need more guidance in some parts, but I would like to give this a try 😊

[2021-10-14 00:55] adiati98 commented on #432
Do we want to fix this one too, @danieltott?

Also, wrapping the contents in <a> elements, is it wrapping the whole <li>?

[2021-10-14 14:17] danieltott commented on #432
@adiati98 Thanks for asking! That one is being handled in #433 so we're good 👍

The structure should be something like

[code]

[2021-10-19 13:40] #433 closed, assigned to colabottles

[2021-10-20 14:54] danieltott opened #447 "Improve accessibility of Newsletter Subscribe form"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

There are a couple issues to fix with the newsletter subscribe form, found on https://virtualcoffee.io/newsletter/ (and individual newsletter issues).

The code that generates this form can be found here: https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/_includes/macros/newslette

[2021-10-20 22:48] adiati98 commented on #447
Hi @danieltott,
May I try this one? 😊

[2021-10-22 17:02] #447 closed, assigned to adiati98

[2021-10-25 18:48] #436 closed, assigned to colabottles

[2021-10-25 18:48] #435 closed, assigned to colabottles

[2021-10-28 21:45] meg-gutshall opened #462 "Reword membership profile template for more clarity"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Context for documentation change

When updating my own profile, I was confused as to why my website link was appearing as the `mainUrl` value when the template said it would default to my GitHub profile link.

After looking into it further, I realized it defaults to _the website listed on the user's GitHub pro

[2021-10-29 23:05] manthony9 commented on #73
@danieltott  Got it! I was trying to edit the svg's without having to change the file manually 😂...Working on it now..

[2021-10-30 21:49] BekahHW commented on #417
@YolandaHaynes I wanted to check in and see how this is going. Let me know if you need help!

[2021-10-30 21:49] BekahHW commented on #356
Hey @jenkens-dev I wanted to check-in and see if you needed any support. Let me know 🙂

[2021-10-30 21:54] BekahHW opened #465 "November Monthly Challenge"
_[The Virtual Coffee Monthly Challenge for November 2021](https://virtualcoffee.io/monthlychallenges/nov-2021/) -> Blogging! We're all working together to hit 50,000 words. ._

## Keep track of our group progress here:

https://virtualcoffee.io/monthlychallenges/nov-2021/

## To add your latest November post:

- Follow [these steps](https://docs.github.com/en/free-pro-team@latest/github/getting-st

[2021-11-01 12:37] adiati98 commented on #465
Based on last year, we needed to count the words manually.
As additional info for the future participants, [Hemingway Editor](https://hemingwayapp.com/) is very useful to edit sentences and to see the words count on the right side of the bar.
You just need to copy and paste the result of the post (non-markdown) on it.
I'm using this editor massively 😄

![hemingwayapp](https://user-images.githubuse

[2021-11-01 14:09] adiati98 opened #467 "Add Nov. newsletter to site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs updated, and sometimes that changes the way things look, for example, your list may have fewer items.

#

[2021-11-01 17:39] jenkens-dev commented on #356
Hi @BekahHW thanks for reaching out! This issue is a bit harder than I initially realized and I have less time than I thought. If this is a priority task or someone else is interested in tackling it feel free to re-assign it. Otherwise, I'd love to still try my hand at it.

[2021-11-02 01:34] manthony9 commented on #73
Hi @danieltott I've solved for the title problem using your approach. Do you think we could use the same approach for the fill ? Each Undraw svg has multiple fills with and without #d9376e as their fill color.  I could add a variable for each instance where we have #d9376e or maybe add an ID to the paths with #d9376e ?

[2021-11-02 19:02] #467 closed

[2021-11-03 19:51] meg-gutshall commented on #265
I am going to try to get this done by the end of this weekend, but if not it will be when I get back from Ruby Conf.

[2021-11-04 00:10] #462 closed

[2021-11-04 00:13] danieltott commented on #265
@meg-gutshall
![you do you](https://media.tenor.co/images/939ad84854c1700597720549d38ef40f/tenor.gif)

[2021-11-27 01:02] adiati98 opened #481 "No display of dates when adding date published on blogpost's page with mobile phone"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When adding new blog post to the member's monthly challenge page on mobile phone, there is no dates display besides today.

However, when we click on a date blindly, it does give focus on the date and we can still add backdated posts.

### Steps To Reproduce

From mobile phone:
1. After sign in

[2021-12-01 14:30] Andrew-Bush opened #482 "December Monthly Challenge"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Type of Change

Brand new page

### URL of existing page

_No response_

### Context for content change

We need to get the new monthly challenge page up on the site for our `Creative Community Challenge`.

### Proposed solution

Create a new page to support the December monthly challenge.

### Resources that

[2021-12-01 19:24] #482 closed

[2021-12-05 19:21] adiati98 opened #485 "Edit podcasts' transcriptions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Type of Change

Edit/Clarification on existing content

### URL of existing page

_No response_

### Context for content change

I noticed that our podcast episodes have automatically generated transcriptions.
There are typos in every episode.

### Proposed solution

To make it more accessible, we can manually

[2021-12-05 19:27] adiati98 commented on #485
Hi @danieltott, I had experience in fixing transcriptions for podcasts before for [Software Engineering Unlocked ](https://github.com/mgreiler/se-unlocked) podcast.
Outside the W3C, they do have [their own guidance](https://github.com/mgreiler/se-unlocked/blob/master/Transcription_Guidelines.md) as well to transcribe their podcast which I find neat.

This would be a very long work, but I can do it

[2021-12-08 23:48] adiati98 opened #486 "Add Dec. newsletter to site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs to be updated, and sometimes that changes the way things look, for example, your list may have fewer ite

[2021-12-08 23:49] adiati98 commented on #486
Hey @BekahHW,
Can I grab this one? 😊

[2021-12-09 00:19] BekahHW commented on #486
All yours, @adiati98!

[2021-12-10 16:52] danieltott commented on #485
Hey @adiati98

I've created this repo with the current transcripts: https://github.com/Virtual-Coffee/podcast-transcripts

They're all in .srt files

Fixing typos and small changes are perfectly possible by hand-editing these. If we need to make larger changes, we'll have to figure something else out.

Feel free to start on one though and we can see how it goes!

Once you are finished with one, I

[2021-12-10 22:43] adiati98 commented on #485
Thanks, @danieltott !
Let me try and see how it goes! 😀

[2021-12-15 02:24] #486 closed

[2021-12-22 16:44] adiati98 opened #491 "The link of Code of Conduct and Our Members navigate to About Virtual Coffee page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

Both links to Code of Conduct and Our Members navigate to About Virtual Coffee page.

### Steps To Reproduce

1. On [Virtual Coffee homepage](https://virtualcoffee.io/) go to All Things Virtual Coffee section (as pics attached)
2. Click on the Code of Conduct link, and/or
3. Click on the Our Me

[2021-12-22 16:46] adiati98 commented on #491
@danieltott can you assign me?
I will fix this 😊
Thank you 😄

[2021-12-22 17:04] danieltott commented on #491
Thanks @adiati98 !

[2021-12-28 21:30] adiati98 opened #497 "Update Virtual Coffee's Slack Channel Guide"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Type of Change

Edit/Clarification on existing content

### URL of existing page

https://virtualcoffee.io/resources/virtual-coffee/slack-channel-guide/

### Context for content change

There are some additional and deleted channels in Virtual Coffee's slack.
We need to update this guide.

### Proposed solutio

[2021-12-30 00:41] BekahHW opened #499 "Add January Challenge to site"
We're moving on from Creative Community and onto Month of Learning.

 ## Issue Context

Add January Challenge to the Site

## Steps

- [ ] Add folder src > monthlychallenges > Jan-2022
- [ ] Add index.njk to the file
- [ ] Using [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/monthlychallenges/june-2021/index.njk) as kind of a template, create January 2022
- [ ] Create

[2021-12-30 00:46] Andrew-Bush commented on #499
Dibs 👋

[2021-12-30 00:57] BekahHW commented on #499
Thanks, @Andrew-Bush!!!

[2022-01-04 13:32] #491 closed

[2022-01-04 17:02] danieltott opened #502 "Merch"
- mugs
- shirts
- enamel pins

[2022-01-05 19:28] adiati98 opened #503 "Add January 2022 newsletter to site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs to be updated, and sometimes that changes the way things look, for example, your list may have fewer ite

[2022-01-05 19:29] adiati98 commented on #503
Hi @BekahHW,
Can you assign me for this issue?
Thank you! 😊

[2022-01-05 19:30] BekahHW commented on #503
You got it!

[2022-01-06 19:14] #499 closed

[2022-01-18 20:29] BekahHW opened #511 "February Challenge: Pairing"
We're moving on from Creative Community and onto Month of Pairing.

 ## Issue Context

Add February Challenge to the Site

## Steps

- [ ] Add folder src > monthlychallenges > Feb-2022
- [ ] Add index.njk to the file
- [ ] Using [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/monthlychallenges/june-2021/index.njk) as kind of a template, create Feb 2022
- [ ] Create a P

[2022-01-18 21:06] #503 closed

[2022-01-19 14:30] redapy commented on #511
I can take this

[2022-01-19 15:43] redapy commented on #511
I'm trying to combine the [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/monthlychallenges/june-2021/index.njk) template with the [last year's challenge](https://virtualcoffee.io/monthlychallenges/dec-2020/) content. But, I can't find a theme or a goal for the challenge. Should I wait until we set a goal, or just skip that part for now?
One more question, should I inc

[2022-01-21 17:05] BekahHW commented on #511
Hey Reda! I would skip theme for now and leave off the table until we get some feedback.

Maybe @danieltott had thought here too.

[2022-01-22 11:03] SNikhill commented on #60
Can I be of assistance in any way?

[2022-02-01 13:15] #511 closed

[2022-02-01 15:10] adiati98 opened #519 "Add February 2022 newsletter to site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs to be updated, and sometimes that changes the way things look, for example, your list may have fewer ite

[2022-02-01 15:11] adiati98 commented on #519
Hey @BekahHW,
Can you assign me for this issue?
Thanks in advance! 😄

[2022-02-03 16:03] #519 closed

[2022-02-04 12:14] adiati98 commented on #485
We now have the [podcast-transcripts](https://github.com/Virtual-Coffee/podcast-transcripts) repo to close this issue.

[2022-02-04 12:14] #485 closed

[2022-02-10 14:23] adiati98 opened #522 "Update Virtual Coffee Slack Channel Guide"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Type of Change

Edit/Clarification on existing content

### URL of existing page

https://virtualcoffee.io/resources/virtual-coffee/slack-channel-guide/

### Context for content change

We want to update some channels' descriptions to make their purposes clearer.

### Proposed solution

_No response_

### Reso

[2022-02-15 15:17] #522 closed

[2022-02-20 00:13] github-actions[bot] opened #528 "Add New Monthly Challenge"
## Issue Context
*Add New Challenge to the Site*

You can use [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/monthlychallenges/june-2021/index.njk) as kind of a template

## Steps
- [ ] Add folder src > monthlychallenges > {MONTH}-2022
- [ ] Add index.njk to the file
- [ ] Create a PR that uses `closes #{number of this issue}`
- [ ] Request @BekahHW to review PR once

[2022-03-01 19:38] #528 closed

[2022-03-07 19:40] #151 closed

[2022-03-08 15:25] #73 closed

[2022-03-09 11:42] adiati98 opened #534 "Add March 2022 newsletter to site"
## Issue Context
Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs to be updated, and sometimes that changes the way things look, for example, your list may have fewer item

[2022-03-09 11:43] adiati98 commented on #534
Hey @BekahHW and @danieltott,
Can you please assign me to this issue?

Thank you! 😄

[2022-03-09 11:44] adiati98 commented on #417
Hey @BekahHW & @danieltott,
As per Slack convo, I will take this issue 😊
Can you please assign me? Thanks!

[2022-03-10 14:35] danieltott commented on #265
@meg-gutshall how is this coming? I have some other ideas in the works, so if you haven't done much on it, I think we can set it aside for right now. BUT, if you've made some decent progress, I'd be happy to help get it across the finish line if you want to push up a draft PR!

[2022-03-10 14:41] meg-gutshall commented on #265
Thanks for checking in! This got completely lost in the shuffle so if you were thinking of going in a different direction, don't let me hold you up. 👍

[2022-03-10 14:41] meg-gutshall commented on #265
I can definitely still do this upgrade though if that remains the plan.

[2022-03-10 19:21] #534 closed

[2022-03-14 15:56] meg-gutshall commented on #265
Spoke with @danieltott and this is ON HOLD for now

[2022-03-16 09:31] jeremiahlukus commented on #417
Hey when I was still in college someone sent me this when I asked them a question over email. It has been a big help to me and maybe you can copy some information from it

https://docs.google.com/document/d/1prD4Yj-9BsThKFgS2FTd0UHADXt0Ivhb7Ai9sJikgfc/edit

[2022-03-20 00:12] github-actions[bot] opened #538 "Add New Monthly Challenge"
## Issue Context
*Add New Challenge to the Site*

You can use [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/src/monthlychallenges/june-2021/index.njk) as kind of a template

## Steps
- [ ] Add folder src > monthlychallenges > {MONTH}-2022
- [ ] Add index.njk to the file
- [ ] Create a PR that uses `closes #{number of this issue}`
- [ ] Request @BekahHW to review PR once

[2022-03-25 14:43] danieltott opened #541 "Add team members"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Type of Change

Edit/Clarification on existing content

### URL of existing page

https://virtualcoffee.io/members/

### Context for content change

Right now only the maintainers have teams on their member cards. I'd like to see _all_ of our teams represented!

### Proposed solution

This can be done by addin

[2022-03-29 14:26] danieltott opened #544 "Convert to Remix"
Convert the virtualcoffee.io 11ty site to [Remix](https://remix.run/)

## Why?

- 11ty is awesome, and I love it very much. But there are some definite pain points:
  - Unfamiliar templating languages. I have a really hard time explaining what nunjucks is or how to use it. Liquid is a little more known but has more limitations.
  - Having features hidden in shortcodes or other configuration files.

[2022-03-31 18:39] #538 closed

[2022-04-01 16:43] danieltott commented on #74
No longer needed - moving to Remix #545

[2022-04-01 16:43] #74 closed

[2022-04-01 16:52] danieltott commented on #60
This form is going away, so this won't be an issue any more. Thanks for your input @Rafi993 !

[2022-04-01 16:52] #60 closed

[2022-04-01 17:27] danieltott commented on #356
Hey @jenkens-dev - with the move to Remix (#545) we're going to go in a different route here 👍

[2022-04-01 17:27] #356 closed

[2022-04-05 19:23] adiati98 opened #551 "Add April 2022 newsletter to site"
## Issue Context
Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

You can look at the existing newsletters ( src > newsletter > issues) as a kind of template. The sections are all the same. The content needs to be updated, and sometimes that changes the way things look, for example, your list may have fewer item

[2022-04-05 19:24] adiati98 commented on #551
Hi @danieltott,
Can you assign me for this?
Thank you! 😄

[2022-04-07 18:50] #551 closed

[2022-04-08 13:09] BogDAAAMN commented on #541
@danieltott are you working on this? I have time to reach out to teams and members to compile a list of teams if you don't have it

[2022-04-08 13:12] danieltott commented on #541
@BogDAAAMN Yep it's pretty much ready to roll in #554 - feel free to check that out and let me know if there are any changes!

[2022-04-08 13:18] BogDAAAMN commented on #541
Eyy no, looking very good!!

[2022-04-08 13:21] BogDAAAMN commented on #541
Is it worth mentioning it in the docs of #13?

[2022-04-08 13:26] danieltott commented on #541
@BogDAAAMN good question - I think no, just because new members probably won't be on teams yet, but I'm open to being convinced otherwise

[2022-04-08 13:28] BogDAAAMN commented on #541
Oh yeah, that's fair 👍🏼

[2022-04-08 16:24] #541 closed

[2022-04-08 18:48] #544 closed

[2022-04-08 18:49] danieltott commented on #417
Live via #549

[2022-04-08 18:49] #417 closed

[2022-04-10 20:47] redapy opened #559 "The links for members' websites on the VC site are not working"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When you click one of the members' website links,  it opens the following [link](https://virtualcoffee.io/members/%7Bmember.mainUrl%7D) instead of their actual websites.

### Steps To Reproduce

1. Visit the [members page](https://virtualcoffee.io/members/)
2. Click one of the member's websites

[2022-04-11 12:37] #559 closed

[2022-04-19 14:15] JoeKarow opened #564 "MailChimp 'continue to our website' redirect causes error."
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

When signing up for the news letter, clicking on the "continue to our website" button on the MailChimp confirmation page returns the following error:

Application Error
FetchError: request to https://virtualcoffee.io/.netlify/builders/data-sponsors failed, reason: connect ECONNREFUSED 34.204.13

[2022-04-19 14:26] danieltott commented on #564
@tkshill do you know what the "continue to our site" url is?

[2022-04-19 14:57] JoeKarow opened #565 "Add calendar links to "Upcoming Events" page items"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

I think it would be helpful for our members to be able to add events they are interested in attending to their calendar of choice directly from the event posting.

### Proposed solution

I believe we could use the [calendar-link](https://www.npmjs.com/package/calendar-link) library to add links

[2022-04-20 00:14] github-actions[bot] opened #567 "Add New Monthly Challenge"
## Issue Context
*Add New Challenge to the Site*

You can use [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/routes/monthlychallenges/june-2021.jsx) as kind of a template

## Steps
- [ ] Follow the instructions for [creating monthly challenge pages](https://github.com/Virtual-Coffee/virtualcoffee.io/#monthly-challenges)
- [ ] Create a PR that uses `closes #{number of

[2022-04-25 08:49] adiati98 opened #568 "Change "Join Virtual Coffee" section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Type of Change

Edit/Clarification on existing content

### URL of existing page

https://virtualcoffee.io/resources/virtual-coffee/join-virtual-coffee

### Context for content change

As we are pausing our membership for Virtual Coffee, we need to update the page.

### Proposed solution

There are a couple of

[2022-04-25 14:33] danieltott commented on #568
@adiati98 great call. I'd like to see basically the existing page stay as is, except the intro section at the top changed to have the "we are currently pausing membership" content.

![Image 2022-04-25 at 10 32 48 AM](https://user-images.githubusercontent.com/360261/165110978-b548e41f-c9f6-48d1-a1a4-801ce08c973e.jpg)

[2022-04-25 16:20] danieltott commented on #564
It looks like the link is correct (its just the home page) - I've been unable to reproduce this error.

Seems like a weird netlify and/or remix hiccup...

[2022-04-25 16:21] JoeKarow commented on #564
Maybe I was just in the wrong place at the wrong time.

[2022-04-25 16:21] #564 closed

[2022-04-25 17:28] adiati98 commented on #568
@danieltott just to confirm, so we want to only change the intro?
And leave everything as it is?

[2022-05-02 08:55] #568 closed

[2022-05-02 12:42] #567 closed

[2022-05-10 11:13] adiati98 opened #575 "Add May 2022 newsletter to site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of sending it out. Currently, we're moving them over "by hand."

## Steps to update

In the code base, navigate to `src > newsletter > issues` and create a new file `2022-05.jsx`.
You can look at the existing newsletters ( `src > newsletter > issues`) as a kind of template.

Make sure to add it to the index by

[2022-05-10 11:14] adiati98 commented on #575
Hi @danieltott,
Would you please assign me? I'll work on this issue 😊
Thanks!

[2022-05-12 13:02] danieltott commented on #575
Closed via #576

[2022-05-12 13:02] #575 closed

[2022-05-20 00:13] github-actions[bot] opened #580 "Add New Monthly Challenge"
## Issue Context
*Add New Challenge to the Site*

You can use [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/routes/monthlychallenges/june-2021.jsx) as kind of a template

## Steps
- [ ] Follow the instructions for [creating monthly challenge pages](https://github.com/Virtual-Coffee/virtualcoffee.io/#monthly-challenges)
- [ ] Create a PR that uses `closes #{number of

[2022-05-21 13:34] abbeyperini opened #581 "Update Coffee Table Group definitions"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Context for documentation change

Update Coffee Table Group definition and add Coffee Table Group Leader definition after discussion with current Coffee Table Group Leaders.

### Proposed solution

_No response_

### Resources that can help

_No response_

### Collaborators

_No response_

### Code of Conduct

[2022-05-21 23:00] adiati98 opened #583 "Add developer resources page into member resources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Context for documentation change

We get recurring questions that have been answered. And we also received valuable resources from our members in our Slack channels.

### Proposed solution

Create a page—like "Developer Resources"—to compile the resources that both members and non-members can consume.
We can i

[2022-05-23 16:19] danieltott opened #585 "Content of Luxon datetime format not matching from server to client"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We use [Luxon to format time](https://moment.github.io/luxon/#/formatting) on the [events page](https://virtualcoffee.io/events). We're using the `fff` formatting option, which is a shortcut for "verbose localized date and time."

Localized date means that javascript will use the language of th

[2022-05-23 18:04] #565 closed

[2022-05-25 15:16] redapy commented on #580
I would like to work on this

[2022-05-25 16:38] abbeyperini opened #587 "Content Change: Add Coffee Table Groups Page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Type of Change

Brand new page

### URL of existing page

_No response_

### Context for content change

We want to promote our newly branded Coffee Table Groups

### Proposed solution

Add Coffee Table Groups page
- Group Title
- Group Leader
- Group Description
- Upcoming event times

Add individual group pa

[2022-06-01 15:14] #580 closed

[2022-06-07 20:37] adiati98 opened #589 "Add June 2022 newsletter to site"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of emailing it. Currently, we're moving them over "by hand."

## Steps to update

In the code base, navigate to `src > newsletter > issues` and create a new file `2022-06.jsx`.
You can look at the existing newsletters ( `src > newsletter > issues`) as a template.

Make sure to add it to the index by following

[2022-06-08 19:47] BekahHW opened #591 "Add link to volunteer on L&L page"
On the [L&L page](https://virtualcoffee.io/resources/virtual-coffee/get-involved/lunch-and-learns) change the last heading to "I want to get involved! What's next?" Below that:

[2022-06-08 19:56] adiati98 commented on #591
I can take this tomorrow if no one up to it 😊

[2022-06-08 20:17] #589 closed

[2022-06-08 22:37] AlexVCS commented on #591
I’ll do it if that’s ok with you Ayu!

[2022-06-09 01:27] BekahHW commented on #591
@AlexVCS it's all you!

[2022-06-20 00:13] github-actions[bot] opened #594 "Add New Monthly Challenge"
## Issue Context
*Add New Challenge to the Site*

You can use [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/routes/monthlychallenges/june-2021.jsx) as kind of a template

## Steps
- [ ] Follow the instructions for [creating monthly challenge pages](https://github.com/Virtual-Coffee/virtualcoffee.io/#monthly-challenges)
- [ ] Create a PR that uses `closes #{number of

[2022-06-20 17:47] JayRKyd commented on #594
Hi
@blackgirlbytes
 told me about this issue and will pair with me to complete it. Can you assign this issue to me?
@BekahHW

[2022-06-22 13:52] adiati98 opened #596 "Add guide to preview page when receiving TimeoutError"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Context for documentation change

Every time I run `yarn dev`, I get a `TimeoutError - Task timed out after 10.00 seconds` message.
Depending on the computer's speed, I believe some of us encounter the same error.
However, we can get around it by adding the path to the targeted page to the localhost after the

[2022-06-30 06:13] JoeKarow commented on #585
<img src="https://media1.giphy.com/media/74ZOAgI9Al0Dm/giphy.gif"/>

[2022-07-05 11:22] #594 closed

[2022-07-08 09:01] adiati98 opened #601 "Add July 2022 newsletter to website"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of emailing it. Currently, we're moving them over "by hand."

## Steps to update

In the code base, navigate to `app > routes > newsletter > issues` and create a new file `2022-07.jsx`.
You can look at the existing newsletters ( `app > routes > newsletter > issues`) as a template.

Make sure to add it to the i

[2022-07-08 09:58] #601 closed

[2022-07-19 17:35] #591 closed

[2022-07-20 00:15] github-actions[bot] opened #605 "Add New Monthly Challenge"
## Issue Context
*Add New Challenge to the Site*

You can use [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/routes/monthlychallenges/june-2021.jsx) as kind of a template

## Steps
- [ ] Follow the instructions for [creating monthly challenge pages](https://github.com/Virtual-Coffee/virtualcoffee.io/#monthly-challenges)
- [ ] Create a PR that uses `closes #{number of

[2022-07-22 11:49] klezi10 commented on #605
Happy to take on this issue - possible to assign to me? @BekahHW

[2022-07-22 12:03] danieltott commented on #605
It's all you!

[2022-07-25 13:04] BekahHW commented on #605
Apologies for not giving more details on this sooner, @klezi10! We're doing healthy habits for happy devs next month.

You can go ahead and use the same info from last year: https://virtualcoffee.io/monthlychallenges/aug-2021

[2022-08-01 12:33] #605 closed

[2022-08-03 13:56] adiati98 opened #607 "Add August 2022 newsletter to website"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of emailing it. Currently, we're moving them over "by hand."

## Steps to update

In the code base, navigate to `app > routes > newsletter > issues` and create a new file `2022-08.jsx`.
You can look at the existing newsletters ( `app > routes > newsletter > issues`) as a template.

Make sure to add it to the i

[2022-08-05 13:27] #607 closed

[2022-08-18 23:06] adiati98 opened #613 "Update "Guide to VC" and "VC Slack Channel Guide""
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Context for documentation change

We need to update some of our existing member docs because of these conditions:
- We have some new channels on Slack.
- We now have Coffee Tables.
- We want to explain the bot announcements and how to join coffees and events.

### Proposed solution

Update the `guide-to-vc` an

[2022-08-20 00:14] github-actions[bot] opened #615 "Add New Monthly Challenge"
## Issue Context
*Add New Challenge to the Site*

You can use [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/routes/monthlychallenges/june-2021.jsx) as kind of a template

## Steps
- [ ] Follow the instructions for [creating monthly challenge pages](https://github.com/Virtual-Coffee/virtualcoffee.io/#monthly-challenges)
- [ ] Create a PR that uses `closes #{number of

[2022-08-20 23:50] BekahHW opened #616 "Update site to reflect new membership guidelines"
- active volunteers must invite new members
- new members must join a coffee first
- slack invites to members who attend should be sent within 24 hrs.
- we believe that live interaction is part of what makes VC special; we continually try to provide support to all of our members no matter what stage they're at; we value the health of the community over growth every single day.

[2022-08-23 09:30] klezi10 commented on #615
Happy take this issue @danieltott

[2022-08-23 13:58] danieltott opened #619 "Test label length"
Testing for Amy!

[2022-08-23 14:00] JoeKarow commented on #619
if it's 255 chars, do I win a prize?

[2022-08-23 14:00] danieltott commented on #619
@JoeKarow looks like `50`

[2022-08-23 14:01] JoeKarow commented on #619
Looks like I am terrible at estimating things.

[2022-08-24 13:55] #613 closed

[2022-08-25 10:27] danieltott commented on #615
@klezi10 It's all you!

[2022-08-25 19:01] JesseRWeigel commented on #616
Is this still needed? Can I do it?

[2022-08-26 12:31] danieltott opened #622 "Ensure 404 is properly served in the podcast section"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

We have a nice 404 page on the site, but when you try to load a page in the podcast section that doesn't exist, we get a 500 error instead:

![image](https://user-images.githubusercontent.com/360261/186903462-bdf19a9e-16ca-4345-8b9c-326905bda57d.png)

### Steps To Reproduce

1. go to https://vi

[2022-08-26 16:03] EGWiley opened #623 "Test issue what upppp"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

A bug happened!

### Steps To Reproduce

_No response_

### What browsers are you seeing the problem on?

_No response_

### Environment

[code]

### Anything else?

_No response_

### Code of Conduct

- [X] I've read the Code of Conduct and understand my responsibilities as a member of the Vir

[2022-08-26 17:53] #585 closed

[2022-08-26 17:55] #619 closed

[2022-08-26 17:55] danieltott commented on #616
@JesseRWeigel we're about to have some more changes to this process so let's hold off for the moment 👍🏼

[2022-08-26 18:07] JoeKarow commented on #622
I'll give this one a go and convert the podcasty stuff to TS at the same time.

[2022-08-26 18:10] danieltott commented on #622
@JoeKarow nice! Take a look at the events stuff I updated to see how I typed the `graphQLClient.request` response: https://github.com/Virtual-Coffee/virtualcoffee.io/blob/f7736f945dfb35912121596506cf740bae7ed998/app/data/events.ts#L96-L100

[2022-08-27 11:16] adiati98 commented on #583
@danieltott I have some questions:

- Do we want to compile the resources through CMS to which you gave me access or follow the draft PR?
- Do we want to compile this within the "Member Resource" or create a new resource page called "Developer Resource" or something like that?

Also, I'm thinking of taking out the questions part because we've covered them on the "How to ask questions" page and mak

[2022-08-30 06:02] adiati98 commented on #616
Hey @BekahHW & @danieltott
Is this issue related to updating the header (as the pic attached below) of the [Join Virtual Coffee](https://virtualcoffee.io/resources/virtual-coffee/join-virtual-coffee) page?

Because while I was updating the "Guide to VC" page, I was thinking of updating this page since we started to open for new members.
If that is the case, I'll hold it as well.

Thanks!

![join-v

[2022-08-30 08:57] BekahHW commented on #616
We're working on a waitlist rn so once we get that going, this will definitely need to be updated.

[2022-08-30 20:54] JoeKarow opened #627 "Typesafe GraphQL client"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

There's been chatter on Typescript Tuesdays about how there's a way to have a typesafe GraphQL client...

### Proposed solution

The current library we're using [suggests](https://github.com/prisma-labs/graphql-request#graphql-code-generators-graphql-request-typescript-plugin) a possible solutio

[2022-08-31 11:59] Narigo commented on #627
There are multiple ways how to generate TypeScript types from a GraphQL introspection query. I've used a module called `graphql-codegen` in the past, which seems to be deprecated / going to be archived and they also advise you to use the proposed solution. So I guess, it's the way to go! 👍

Keep in mind that the introspection query is used by these generators usually and the introspection usually

[2022-09-01 13:12] danieltott opened #628 "Add section or page about handling merge conflicts"
### Type of Change

New section on existing page

### URL of existing page

https://virtualcoffee.io/resources/open-source

### Context for content change

What do you do when there's a merge conflict?

This can be a confusing experience - it'd be great to have either a section or a whole new page for this.

This could either be in [Git & GitHub 101](https://virtualcoffee.io/resources/open-source/

[2022-09-02 10:05] adiati98 commented on #628
@danieltott we can put it in the [Git & GitHub 101 after the "Synchronizing changes locally" section](https://virtualcoffee.io/resources/open-source/git-101#synchronizing-changes-locally) as a continuation.
![synchronizing changes locally](https://user-images.githubusercontent.com/45172775/188114770-888cf806-edc2-420c-a79f-95448c5945a0.JPG)

We can insert this part (pic attached) of my article [Ho

[2022-09-02 13:08] danieltott commented on #628
@adiati98 sounds good! Thank you!!!

[2022-09-02 18:52] #615 closed

[2022-09-04 21:59] adiati98 opened #629 "Edit the contributing guide in the maintainer guide"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Context for documentation change

As we are improving the Git & GitHub 101 page (issue #628), we want as well edit "The Contributing Guide" in the [Documentation section](https://virtualcoffee.io/resources/open-source/maintainer-guide#documentation) of the Maintainer Guide page.

I don't think we need the firs

[2022-09-04 22:07] adiati98 commented on #629
Hi @danieltott,
I'm working on this issue as I'm improving Git & GitHub 101.
I will later link this issue to the same PR as #628.
Or would it be better with a different PR?

TIA! 😄

[2022-09-07 01:43] #628 closed

[2022-09-07 10:38] adiati98 opened #632 "Add September 2022 newsletter to website"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of emailing it. Currently, we're moving them over "by hand."

## Steps to update

In the code base, navigate to `app > routes > newsletter > issues` and create a new file `2022-09.jsx`.
You can look at the existing newsletters ( `app > routes > newsletter > issues`) as a template.

Make sure to add it to the i

[2022-09-08 17:19] #632 closed

[2022-09-08 17:22] #629 closed

[2022-09-20 00:21] github-actions[bot] opened #637 "Add New Monthly Challenge"
## Issue Context
*Add New Challenge to the Site*

You can use [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/routes/monthlychallenges/june-2021.jsx) as kind of a template

## Steps
- [ ] Follow the instructions for [creating monthly challenge pages](https://github.com/Virtual-Coffee/virtualcoffee.io/#monthly-challenges)
- [ ] Create a PR that uses `closes #{number of

[2022-09-24 04:50] klezi10 commented on #637
I can take this if possible :)

[2022-10-02 02:18] #637 closed

[2022-10-03 14:20] danieltott opened #643 "Give yourself the Hacktoberfest2022 badge!"
---

### Note - only PRs from existing Virtual Coffee members participating in the Virtual Coffee Hacktoberfest Initiative will be accepted.

---

### First step - complete #13 if you haven't already!

If you haven't completed #13 already, it is perfectly fine to do that _and_ this in the same Pull Request.

### Steps:

- Find your member file (it will be `members/members/yourgithubuser.ts` where

[2022-10-03 15:10] adiati98 opened #644 "Add October 2022 newsletter to the website"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of emailing it. Currently, we're moving them over "by hand."

## Steps to update

In the code base, navigate to `app > routes > newsletter > issues` and create a new file `2022-10.jsx`.
You can look at the existing newsletters ( `app > routes > newsletter > issues`) as a template.

Make sure to add it to the i

[2022-10-03 15:11] adiati98 commented on #644
Hey @danieltott @BekahHW
Can you assign me to this one? Thanks! 😄

[2022-10-03 19:32] Narigo opened #652 "Add a packageManager field to package.json for corepack"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

When coming to a new project, it's hard to see what versions and tools you should be using. NodeJS proposed a new solution to streamline the various package managers with [corepack](https://nodejs.org/api/corepack.html).

There is currently a `.tool-versions` and `.nvmrc` which are used to deter

[2022-10-03 19:48] danieltott opened #653 "Add Code of Conduct link to the footer"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

To make it easier to find, let's add a link to [our Code of Conduct](https://virtualcoffee.io/code-of-conduct) in the footer of the site.

### Proposed solution

In [app/components/layouts/Root.jsx](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/components/layouts/Root.jsx), ad

[2022-10-03 19:56] danieltott opened #654 "Remove "Code of Conduct" section on pages where it's not relevant"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Type of Change

Edit/Clarification on existing content

### URL of existing page

_No response_

### Context for content change

The "Code of Conduct" block from our [Guide to VC](https://virtualcoffee.io/resources/virtual-coffee/guide-to-vc) guide accidentally got added to some other guides - they're not need

[2022-10-03 20:08] danieltott opened #655 "Add lazy loading to member profile photos"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

We have [a lot of members now](https://virtualcoffee.io/members)!

In order to improve performance on that site, it would be great to lazy-load those profile images.

### Proposed solution

This is actually pretty easy these days - we can add `loading="lazy"` and `decoding="async"` to the `<img>

[2022-10-04 09:50] adiati98 commented on #653
Hi @danieltott,
Can I try and take this one? 😊

[2022-10-04 09:57] adiati98 commented on #643
Hi @danieltott,
The link to "Our [original issue for adding your member profile](https://github.com/Virtual-Coffee/virtualcoffee.io/issues/643#13)" is coming back to this page.
I believe it would be [this](https://github.com/Virtual-Coffee/virtualcoffee.io/issues/13) issue?

[2022-10-04 12:37] danieltott commented on #653
@adiati98 it's all you!

[2022-10-04 12:54] Anuran12 commented on #655
I would like to work on this. please assign it to me

[2022-10-04 13:16] danieltott commented on #655
Hey @Anuran12 - we're reserving these issues for Virtual Coffee members during October. Thank you!

[2022-10-04 13:18] #652 closed

[2022-10-04 15:31] danieltott opened #660 "Convert `MemberCards.jsx` to typescript"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

Continuing our typescript conversion - let's convert [`app/components/MemberCards.jsx` ](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/components/MemberCards.jsx) to typescript!

### Proposed solution

_No response_

### Alternatives Considered

_No response_

### Additional R

[2022-10-04 16:45] danieltott commented on #660
Hey @Croustys - thanks for the interest but this issue is reserved for Virtual Coffee members.

[2022-10-04 16:52] JesseRWeigel commented on #660
yo

[2022-10-04 19:52] #644 closed

[2022-10-04 20:28] pedaars commented on #654
Can i pick this up?

[2022-10-04 20:52] #654 closed

[2022-10-04 21:33] JesseRWeigel commented on #660
I got all the ts errors fixed for MemberCards and all of the icons, but this is causing an error in `members.ts`. You can see my code here: https://github.com/JesseRWeigel/virtualcoffee.io/tree/refactor/660/memberCardToTSX . I am not sure how to handle this issue. This is the error log:
[code]

[2022-10-04 22:16] danieltott commented on #660
@JesseRWeigel did you create the .env file? That might cause this issue

[2022-10-04 22:34] YolandaHaynes commented on #655
Hi @danieltott , I would like to give this a try.

[2022-10-04 23:18] danieltott commented on #655
@YolandaHaynes its all you!

[2022-10-05 12:57] #616 closed

[2022-10-05 16:57] #653 closed

[2022-10-05 17:05] #660 closed

[2022-10-07 20:44] BekahHW opened #673 "Add Developer Health Section to Resources"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Type of Change

New section on existing page

### URL of existing page

https://virtualcoffee.io/resources

### Context for content change

We need a new section of our resources that creates a new section for developer health.

Under the new section, we need a resource for "Burnout".

Based on the slack conve

[2022-10-08 19:13] AmyShackles commented on #673
Hey, what triage is still needed on this issue?  What steps need to be taken before someone can pick up this issue?  @BekahHW

[2022-10-08 20:09] BekahHW commented on #673
@AmyShackles at the same level as the Open Source Resources on our [resource page](https://virtualcoffee.io/resources), we need the category and then underneath that Burnout, which would lead to the resources and a summary of tips, advice, support based on that slack thread.

I wonder if instead of Developer Health, it could be called Developer Life and then we could include more.

[2022-10-08 21:18] AmyShackles commented on #673
Hey @BekahHW!  “Developer Health” _is_ more specific, but I feel like naming it “Developer Life” may be a bit too broad, considering we spend a fair bit of our lives working and it feels like this section is meant to be for things that affect developers beyond that (and might actually make it sound like a lifestyle section — Developer Liiiiife!  But maybe I’m overthinking it).  What about somethin

[2022-10-08 23:29] BekahHW commented on #673
@AmyShackles I think beyond work is less clear. Let's go with developer health for now. As it evolves, we can rethink if we need to.

[2022-10-10 16:50] chaos986 commented on #673
Pleas assign to me
<iframe src="https://giphy.com/embed/54JLdulN5BOwM" width="480" height="284" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/54JLdulN5BOwM">via GIPHY</a></p>

[2022-10-10 16:52] danieltott commented on #673
@AmyShackles did you want to work on this?

[2022-10-10 17:11] AmyShackles commented on #673
@danieltott Thanks for checking!  I did not.  Was just clarifying it was ready for dev. 😉

[2022-10-10 17:11] BekahHW commented on #673
@chaos986 it's all you! Let me know if you need any help.

[2022-10-10 18:54] danieltott opened #678 "Auto-generate SVG aspect ratios"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### Issue Context

The [`UndrawIllustration`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/components/UndrawIllustration.jsx) component is used to display our nice [unDraw illus

[2022-10-10 19:52] danieltott opened #680 "Convert `PodcastSubscribe` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/components/PodcastSubscribe.jsx`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/components/PodcastSubscribe.jsx)

### Issue Context

- Fairly simple - note the sp

[2022-10-10 19:53] danieltott opened #681 "Convert `PostList.jsx` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/components/PostList.jsx`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/components/PostList.jsx)

### Issue Context

These components are used in a few places.

#

[2022-10-10 19:55] danieltott opened #682 "Convert `UndrawIllustration.jsx` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/components/UndrawIllustration.jsx`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/components/UndrawIllustration.jsx)

### Issue Context

- Be sure to add some com

[2022-10-10 19:57] danieltott opened #683 "Convert `HomePageBlock.jsx` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/components/HomePageBlock.jsx`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/components/HomePageBlock.jsx)

### Issue Context

- Be sure to add some comments to t

[2022-10-10 20:02] danieltott opened #684 "Convert `FileIndex.jsx` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/components/content/FileIndex.jsx`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/components/content/FileIndex.jsx)

### Issue Context

- Be sure to add some comme

[2022-10-10 20:28] danieltott opened #686 "Convert `app/components/layouts/DefaultLayout.jsx` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/components/layouts/DefaultLayout.jsx`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/components/layouts/DefaultLayout.jsx)

### Issue Context

- Be sure to add so

[2022-10-10 20:33] danieltott opened #687 "Convert `getChallenges.js` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/data/monthlyChallenges/getChallenges.js`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/data/monthlyChallenges/getChallenges.js)

### Issue Context

### Blockers

[2022-10-10 20:34] danieltott opened #688 "Convert `newsletters.js` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/data/newsletters.js`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/data/newsletters.js)

### Issue Context

What we'll need:

- A type for the `handle` exported

[2022-10-10 20:34] danieltott opened #689 "Convert `cmsimage.js` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/util/cmsimage.js`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/util/cmsimage.js)

### Issue Context

- Might need types for `@imgix/js-core`

### Blockers
- _No

[2022-10-10 20:39] danieltott opened #690 "Convert `http.js` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/util/http.js`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/util/http.js)

### Issue Context

- `removeTrailingSlash` either `throw`s a [`redirect`](https://remi

[2022-10-10 20:41] danieltott opened #691 "Convert `loadMdx.server.js` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/util/loadMdx.server.js`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/util/loadMdx.server.js)

### Issue Context

- Used to load in mdx files in the remix app.
-

[2022-10-10 20:41] danieltott opened #692 "Convert `socialimage.js` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/util/socialimage.js`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/util/socialimage.js)

### Issue Context

- Be sure to add some comments to the type definition

[2022-10-10 20:43] danieltott opened #693 "Convert `url.server.js` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/util/url.server.js`](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/util/url.server.js)

### Issue Context

- This file imports a json file - will have to handle t

[2022-10-10 21:11] JoeKarow commented on #689
I'll take this on!

[2022-10-10 21:40] danieltott commented on #689
@JoeKarow its all you!

[2022-10-11 16:26] danieltott commented on #687
@aishwarya-mali it's all you!

[2022-10-11 21:45] sadiejay commented on #682
I'd like to take a shot at this!

[2022-10-12 10:52] adiati98 opened #699 "Add creating a new branch for contribution"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Context for documentation change

Noticed some contributors made changes directly on `main` branch. We want to make sure that we provide information that all contributors should create a new branch to work on changes to avoid pushing changes directly to `main` branch and keep it clean.

### Proposed solution

[2022-10-12 10:53] adiati98 commented on #699
@danieltott can you assign this to me? Thanks! 😀

[2022-10-12 14:51] #689 closed

[2022-10-12 15:07] danieltott opened #700 "Run `prettier` in github action"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

We have a pre-commit hook that runs prettier on commits locally, but there are a few situations where that can get skipped (making changes in the GitHub UI, for instance).

Instead of the pre-commit hook, let's add a GitHub action that will run prettier on all pull-requests!

### Proposed soluti

[2022-10-13 04:47] jdwilkin4 commented on #700
HI @danieltott !

I would interested in working on this.

[2022-10-13 12:48] danieltott commented on #700
@jdwilkin4 its all you!

[2022-10-13 20:27] meg-gutshall opened #703 "Add CoC Violation Report Link to CoC Page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Type of Change

New section on existing page

### URL of existing page

https://virtualcoffee.io/code-of-conduct

### Context for content change

I can never find the [Report a Code of Conduct Violation page](https://virtualcoffee.io/report-coc-violation) when I need it... and that's **bad!**

### Proposed sol

[2022-10-14 13:56] #687 closed

[2022-10-14 14:01] #699 closed

[2022-10-14 22:44] adiati98 opened #707 "Fix links on the Table of Contents in CONTRIBUTING.md"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Context for documentation change

Some links on the Table of Content (TOC) in `CONTRIBUTING.md` are not correct.

### Proposed solution

Fix the links in the TOC.

### Resources that can help

_No response_

### Collaborators

_No response_

### Code of Conduct

- [X] I've read the Code of Conduct and understa

[2022-10-15 04:43] jdwilkin4 commented on #700
@danieltott

I started working on this and it looks like you created a PR last year to add this github action
https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/.github/workflows/pr-format.yml

But it doesn't look like it is running for some reason because it is missing from the github actions list here
<img width="846" alt="Screen Shot 2022-10-14 at 9 42 31 PM" src="https://user-images.

[2022-10-17 00:22] carmenkolohe commented on #703
Hi, may I be assigned this issue please?

Is there particular text you want the link to say?

Could you go into more detail about adding a section near the top to call it out?

[2022-10-17 13:28] #707 closed

[2022-10-17 14:14] #681 closed

[2022-10-17 14:42] tkshill commented on #693
I think I wanna give this a shot with my mentee (they'll be submitting the PR)

[2022-10-17 15:26] danieltott commented on #693
@tkshill who is your mentee? I'll add them to the issue

[2022-10-17 15:29] danieltott commented on #684
This is unblocked and available now!

[2022-10-17 16:00] carmenkolohe commented on #693
@danieltott me 🙋‍♀️

[2022-10-17 16:08] danieltott commented on #703
@carmenkolohe it's all you!

After thinking about it, I think instead of a callout at the top we can leverage the table of contents and just improve the scannability of the list.

- [ ] Replace the text `https://virtualcoffee.io/report-coc-violation` with a link to that page and the text "our CoC violation form"
- [ ] Replace the headline "enforcement" with "Reporting Code of Conduct Violations"

[2022-10-17 16:13] dominicduffin1 opened #715 "Application error on Resources pages"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### What happened?

I expected to see a page at the url and instead got 'Application error'.

![2022-10-17 17 06 47 virtualcoffee io fd0b9275ff0a](https://user-images.githubusercontent.com/26224873/196228539-63c04b2e-d10e-420b-93a2-f0554efe97e4.png)
![2022-10-17 17 10 33 virtualcoffee io 1dbee30efed8](https://user

[2022-10-17 16:32] danieltott commented on #715
Thanks @dominicduffin1 - should be all set now.

[2022-10-18 17:26] #682 closed

[2022-10-18 17:26] danieltott commented on #686
The blockers on this are done and this one is good to go!

[2022-10-18 17:27] danieltott commented on #683
Blockers on this are done - this is good to go!

[2022-10-18 17:31] lsparlin commented on #692
@danieltott Can I be assigned to this one?

[2022-10-18 17:35] danieltott commented on #692
@lsparlin it's all you!

[2022-10-18 19:21] lsparlin commented on #683
I'd like to be assigned to this one, too 😄

[2022-10-18 19:22] lsparlin commented on #684
I'd like to be assigned to this one, too 😄

[2022-10-19 12:34] danieltott commented on #683
@lsparlin it's all you!

[2022-10-19 12:34] danieltott commented on #684
@lsparlin you got it!

[2022-10-19 12:55] #692 closed

[2022-10-19 20:05] sadiejay commented on #691
I'd like to try this one! :)

[2022-10-19 20:24] danieltott commented on #691
@sadiejay its all you!

[2022-10-20 00:23] github-actions[bot] opened #726 "Add New Monthly Challenge"
## Issue Context
*Add New Challenge to the Site*

You can use [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/routes/__frontend/monthlychallenges/june-2021.jsx) as kind of a template

## Steps
- [ ] Follow the instructions for [creating monthly challenge pages](https://github.com/Virtual-Coffee/virtualcoffee.io/#monthly-challenges)
- [ ] Create a PR that uses `closes #

[2022-10-20 05:36] aishwarya-mali commented on #686
@danieltott Can I try this one?

[2022-10-20 09:34] danieltott commented on #686
@aishwarya-mali you got it!

[2022-10-20 12:20] danieltott commented on #703
@meg-gutshall Here's a preview of the work @carmenkolohe did - do you think this helps? https://deploy-preview-719--virtual-coffee-io.netlify.app/code-of-conduct

[2022-10-20 20:17] sadiejay commented on #680
Put me down for this one too please! 💃🏾

[2022-10-21 11:02] danieltott commented on #680
@sadiejay you got it!

[2022-10-21 12:45] #683 closed

[2022-10-21 12:51] JoeKarow commented on #690
<img src="https://media4.giphy.com/media/xT5LMFZDsj0AKUDYTS/giphy.gif"/>

[2022-10-21 12:54] JoeKarow commented on #678
I'll take this on!

<img src="https://media4.giphy.com/media/qrgTVmaz5ojBe/giphy.gif"/>

[2022-10-21 12:55] #684 closed

[2022-10-21 13:00] #688 closed

[2022-10-21 13:12] danieltott opened #729 "Convert `app/root.jsx ` to TypeScript"
## Note for Hacktoberfest:

Virtual Coffee is reserving all open issues for Virtual Coffee members for the month of October.

[Find out more about becoming a member](https://virtualcoffee.io/join)

---

### File

[`app/root.jsx `](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/root.jsx)

### Issue Context

- Be sure to add some comments to the type definitions.

  Check out this

[2022-10-28 19:25] YolandaHaynes commented on #729
hey @danieltott , I would like to give this a try!

[2022-10-28 19:40] danieltott commented on #729
@YolandaHaynes It's all you!

[2022-10-28 19:48] #655 closed

[2022-10-31 16:29] #680 closed

[2022-10-31 19:46] #729 closed

[2022-10-31 19:54] #690 closed

[2022-11-01 18:58] #686 closed

[2022-11-01 19:36] #726 closed

[2022-11-05 01:58] ClJarvis commented on #673
If we have just a link to add do we need to open an new issue? Or should we open a discussions so there some where to collect and sort links. That way they won't have to be added one at a time?

[2022-11-05 02:22] BekahHW commented on #673
That's a great question, @ClJarvis! I think a discussion is a really good idea. We might find that we need to develop separate pages for topics. So collecting them will give us time to figure it out.

[2022-11-05 07:13] adiati98 opened #742 "Add November 2022 newsletter to the website"
## Issue Context

Every month, we try to get the newsletter up on the site within a week of emailing it. Currently, we're moving them over "by hand."

## Steps to update

In the code base, navigate to `app > routes > newsletter > issues` and create a new file `2022-11.jsx`.
You can look at the existing newsletters ( `app > routes > newsletter > issues`) as a template.

Make sure to add it to the i

[2022-11-05 15:31] ClJarvis commented on #673
@BekahHW Sounds like a good. plan.

[2022-11-07 18:43] tkshill opened #747 "Adding a types folder to inform decisions about generated/incoming data"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

While working on issue #693 and putting up the subsequent #720 I noticed that we ended up in a particular pattern:
- We have a `_generatedData/` folder where we put `.json` files with necessary runtime data for the application.
- Typescript will attempt to infer the data type from the imported j

[2022-11-08 19:03] adiati98 commented on #742
Hi @Jamaalwbrown,
Unfortunately, the PR for this issue is already done, but not yet merged.

[2022-11-16 09:36] #742 closed

[2022-11-20 00:17] github-actions[bot] opened #750 "Add New Monthly Challenge"
## Issue Context
*Add New Challenge to the Site*

You can use [June 2021](https://github.com/Virtual-Coffee/virtualcoffee.io/blob/main/app/routes/__frontend/monthlychallenges/june-2021.jsx) as kind of a template

## Steps
- [ ] Follow the instructions for [creating monthly challenge pages](https://github.com/Virtual-Coffee/virtualcoffee.io/#monthly-challenges)
- [ ] Create a PR that uses `closes #

[2022-11-23 17:06] AlexVCS commented on #750
I'd like to work on this, please assign it to me.

[2022-11-24 06:58] JoeKarow commented on #700
It was manually disabled.

<img width="1491" alt="image" src="https://user-images.githubusercontent.com/58997957/203714975-7582cbd4-2baf-4289-9fa9-ec43e267ddef.png">

[2022-11-28 20:55] danieltott opened #752 "Add section to events page about our youtube page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

There's not a ton of visibility to our [YouTube channel](https://youtube.com/@VirtualCoffeeIO) on the site - I think a good spot for this would be the top of the [events page](https://virtualcoffee.io/events).

### Proposed solution

The simplest solution would be an additional paragraph in the

[2022-11-28 22:32] #643 closed

[2022-11-29 17:51] adiati98 commented on #752
@danieltott can I take this issue?

Just a thought, I'm thinking for now maybe just give link to our YouTube channel without giving thumbnails.
I think we were talking about redesigning our website? (or not?)
Maybe at that time then we can think if we want to add thumbnails or something like that.

[2022-11-29 20:34] danieltott commented on #752
@adiati98 it's all you!

I think that's fine - let's just make sure the callout is nice and visible 😁

[2022-11-30 16:21] adiati98 commented on #752
Thanks, @danieltott !
I'll do this by next week 😊

[2022-11-30 19:26] danieltott opened #754 "Add link to `/register` on `/login` page"
### Is there an existing issue for this?

- [X] I have searched the existing issues

### Issue Context

If a user lands on https://virtualcoffee.io/login but doesn't have an account already, we should provide a link to https://virtualcoffee.io/register

### Proposed solution

_No response_

### Alternatives Considered

_No response_

### Additional Resources

_No response_

### Code of Conduct

-